Repository Trendyol/baklava-react-native: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --rule 'no-console: error' --fix, prettier --write src/, prettier --write

fix(actions): node version
  .github/workflows/publish-docs.yml
  .github/workflows/release.yml
  .github/workflows/verify.yml
  package.json
Due: prettier --write

Notes added by 'git notes add'
  560df4803143efb06839d98aaa8f7184b456a72e
Due: none

fix(box): sync testID and accessibilityLabel
  ios/Podfile.lock
  package-lock.json
  src/components/Alert/__snapshots__/Alert.test.tsx.snap
  src/components/Badge/__snapshots__/Badge.test.tsx.snap
  src/components/Box/Box.tsx
  src/components/Box/__snapshots__/Box.test.tsx.snap
  src/components/Button/__snapshots__/Button.test.tsx.snap
  src/components/Checkbox/__snapshots__/Checkbox.test.tsx.snap
  src/components/Image/__snapshots__/Image.test.tsx.snap
  src/components/Input/__snapshots__/Input.test.tsx.snap
  src/components/Input/__snapshots__/InputHelpText.test.tsx.snap
  src/components/Input/__snapshots__/InputLabel.test.tsx.snap
  src/components/Modal/__snapshots__/Modal.test.tsx.snap
  src/components/Switch/__snapshots__/Switch.test.tsx.snap
  src/components/Toast/__snapshots__/ToastView.test.tsx.snap
Due: eslint --rule 'no-console: error' --fix, prettier --write src/, prettier --write

fix(actions): node version
  .github/workflows/publish-docs.yml
  .github/workflows/verify.yml
  package.json
Due: prettier --write

chore: rebase master
  package-lock.json
  src/components/TextArea/__snapshots__/TextArea.test.tsx.snap
  src/components/TextArea/__snapshots__/TextAreaCounterText.test.tsx.snap
  src/components/TextArea/__snapshots__/TextAreaHelpText.test.tsx.snap
  src/components/TextArea/__snapshots__/TextAreaLabel.test.tsx.snap
Due: prettier --write

Notes added by 'git notes add'
  42cf842816cd03822f35efbbaf2828f136e44bc2
Due: none

fix(box): add bg shorthand
  src/components/Box/Box.tsx
  src/components/Modal/__snapshots__/Modal.test.tsx.snap
Due: eslint --rule 'no-console: error' --fix, prettier --write src/

Notes added by 'git notes add'
  fe2abfdb6050be05eaa92ed926fe53ab0199ad02
Due: none

chore(project): node 18
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  276bad553cf03330a7aafd28d1f0dc14a9ba8f73
Due: none

Notes added by 'git notes add'
  280bc045a20b105a8310aae1b78b48548e9a2ca5
Due: none

fix: ssl error
  .github/workflows/publish-docs.yml
Due: none

Notes added by 'git notes add'
  c3aeed4a2d5988f3d25788b3d7649ff539da8b87
Due: none

feat(box): add forwardRef
  src/components/Box/Box.tsx
Due: eslint --rule 'no-console: error' --fix, prettier --write src/

fix: repository url
  package.json
Due: prettier --write

Notes added by 'git notes add'
  42a7b2aae38632d5519bdbc93f3dda5c7b2a5e89
Due: none

Notes added by 'git notes add'
  f2883ff4d4e7e6a6d33c9b79b3a94990b1a9f35a
Due: none

feat(icon): add take-away icon
  docs/stories/components/icon.stories.mdx
  src/components/Icon/list.ts
  src/icons/TakeAway.tsx
  src/icons/index.ts
  src/svg-icons/take-away.svg
Due: eslint --rule 'no-console: error' --fix, prettier --write src/

Notes added by 'git notes add'
  0d5b0cfaa772afe5bdb51cfec408fe898cf9bab9
Due: none

Notes added by 'git notes add'
  06bb51e7372257669df0ef23618b15eb554ed2f0
Due: none

fix(input) removed optional text from default
  ios/Podfile.lock
  src/components/Input/Input.stories.tsx
  src/components/Input/Input.tsx
  src/components/Input/InputLabel.test.tsx
  src/components/Input/InputLabel.tsx
  src/components/Input/__snapshots__/Input.test.tsx.snap
  src/components/Input/__snapshots__/InputLabel.test.tsx.snap
Due: eslint --rule 'no-console: error' --fix, prettier --write src/

feat(input) removed optional text and added subLabel prop
  src/components/Input/Input.stories.tsx
  src/components/Input/Input.tsx
  src/components/Input/InputLabel.tsx
  src/components/Input/__snapshots__/Input.test.tsx.snap
  src/components/Input/utils.test.ts
  src/components/Input/utils.ts
  src/components/Toast/types.ts
Due: eslint --rule 'no-console: error' --fix, prettier --write src/

feat(rtl) added RTL compatibility to components
  src/components/Alert/Alert.tsx
  src/components/Alert/__snapshots__/Alert.test.tsx.snap
  src/components/Input/Input.tsx
  src/components/Input/InputHelpText.tsx
  src/components/Input/InputLabel.tsx
  src/components/Input/__snapshots__/Input.test.tsx.snap
  src/components/Input/__snapshots__/InputHelpText.test.tsx.snap
  src/components/Input/__snapshots__/InputLabel.test.tsx.snap
  src/components/Input/utils.test.ts
  src/components/Input/utils.ts
  src/components/Modal/Modal.tsx
  src/components/Modal/__snapshots__/Modal.test.tsx.snap
  src/components/Switch/Switch.tsx
  src/components/Switch/__snapshots__/Switch.test.tsx.snap
  src/components/TextArea/TextArea.tsx
  src/components/TextArea/__snapshots__/TextArea.test.tsx.snap
Due: eslint --rule 'no-console: error' --fix, prettier --write src/

fix(input) fix input test
  src/components/Input/InputLabel.test.tsx
Due: eslint --rule 'no-console: error' --fix, prettier --write src/

chore: upgrade to rn 74
  src/components/Icon/types.ts
Due: eslint --rule 'no-console: error' --fix, prettier --write src/

chore: update upload action
  .github/workflows/publish-docs.yml
  .github/workflows/release.yml
  .github/workflows/verify.yml
Due: none

chore: update upload action
  .github/workflows/publish-docs.yml
Due: none

chore: update react-dom
  package-lock.json
  package.json
Due: prettier --write

feat(tooltip): add tooltip component
  .storybook/preview.tsx
  .storybook/storybook.requires.js
  __mocks__/react-native-safe-area-context.js
  package-lock.json
  package.json
  src/components/Button/Button.test.tsx
  src/components/Spinner/Spinner.test.tsx
  src/components/Toast/Toast.tsx
  src/components/Toast/utils.test.ts
  src/components/Toast/utils.ts
  src/components/Tooltip/Tooltip.stories.tsx
  src/components/Tooltip/Tooltip.test.tsx
  src/components/Tooltip/Tooltip.tsx
  src/components/Tooltip/TooltipContext.tsx
  src/components/Tooltip/TooltipView.tsx
  src/components/Tooltip/__snapshots__/Tooltip.test.tsx.snap
  src/components/Tooltip/calculatePosition.ts
  src/components/Tooltip/types.ts
  src/index.ts
  src/utils/dimentions.ts
  src/utils/utils.test.ts
  src/utils/uuid.ts
  tsconfig.json
Due: eslint --rule 'no-console: error' --fix, prettier --write src/, prettier --write

chore: config
  tsconfig.json
Due: prettier --write

Notes added by 'git notes add'
  13f119b6459971f961bd60159908e12672d85295
Due: none

fix(tooltip): rtl support
  src/components/Tooltip/TooltipView.tsx
  src/components/Tooltip/calculatePosition.test.ts
  src/components/Tooltip/calculatePosition.ts
Due: eslint --rule 'no-console: error' --fix, prettier --write src/

Notes added by 'git notes add'
  2e742b4ba4c648f5e672ee064291fe2d050391cd
Due: none

fix(tooltip): export type TooltipRef
  src/index.ts
Due: eslint --rule 'no-console: error' --fix, prettier --write src/

Notes added by 'git notes add'
  460029a83bbe80406cdd5c992746933c06080158
Due: none

feat(tooltip): add contour support
  src/components/Tooltip/Tooltip.stories.tsx
  src/components/Tooltip/Tooltip.test.tsx
  src/components/Tooltip/Tooltip.tsx
  src/components/Tooltip/types.ts
Due: eslint --rule 'no-console: error' --fix, prettier --write src/

Notes added by 'git notes add'
  adaae856f82f238388f942cb9c14f189e43b62f7
Due: none

fix(tooltip): rename contour to highlight
  src/components/Tooltip/Tooltip.stories.tsx
  src/components/Tooltip/Tooltip.test.tsx
  src/components/Tooltip/Tooltip.tsx
  src/components/Tooltip/TooltipContext.tsx
  src/components/Tooltip/types.ts
Due: eslint --rule 'no-console: error' --fix, prettier --write src/

Path conditions:
  eslint --rule 'no-console: error' --fix: any of: *.{ts,tsx}
  prettier --write src/: any of: *.{ts,tsx}
  prettier --write: any of: *.{json,md}
