Repository Trendyol/baklava-react-native: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --rule 'no-console: error' --fix, prettier --write src/, prettier --write

fix(tooltip): lint
  src/components/Tooltip/calculatePosition.test.ts
Due: eslint --rule 'no-console: error' --fix, prettier --write src/

Notes added by 'git notes add'
  f2db24797ba358e9f93c56886bd8da11dfdbdf80
Due: none

fix(tooltip): do not highlight when no overlay and hole
  src/components/Tooltip/Tooltip.stories.tsx
  src/components/Tooltip/TooltipContext.tsx
Due: eslint --rule 'no-console: error' --fix, prettier --write src/

Notes added by 'git notes add'
  922ba52060240f61a071f839cb76e5b4d8aadf79
Due: none

fix(tooltip): fix rtl highlight position
  src/components/Tooltip/Overlay.tsx
  src/components/Tooltip/Tooltip.test.tsx
  src/components/Tooltip/TooltipContext.tsx
  src/components/Tooltip/TooltipView.tsx
  src/components/Tooltip/types.ts
Due: eslint --rule 'no-console: error' --fix, prettier --write src/

Notes added by 'git notes add'
  650654b826e25c99adc09547f155020deb7ab7aa
Due: none

fix(alert): remove manual RTL handling for text alignment
  src/components/Alert/Alert.tsx
  src/components/Alert/__snapshots__/Alert.test.tsx.snap
Due: eslint --rule 'no-console: error' --fix, prettier --write src/

Notes added by 'git notes add'
  fa06824ff3fb1bd5353e7ee60921f64f18d72ce1
Due: none

feat(i18n): add rtl support to example app
  android/app/src/main/java/com/baklava/MainActivity.kt
  ios/Baklava/AppDelegate.mm
  ios/Podfile.lock
Due: none

Notes added by 'git notes add'
  56698c22c731d8e0c3c6066c893ce065e541a56d
Due: none

fix(modal): fixed Modal's title and Input's helpText for RTL
  src/components/Icon/Icon.stories.tsx
  src/components/Input/InputHelpText.tsx
  src/components/Input/__snapshots__/Input.test.tsx.snap
  src/components/Input/__snapshots__/InputHelpText.test.tsx.snap
  src/components/Modal/Modal.tsx
  src/components/Modal/__snapshots__/Modal.test.tsx.snap
Due: eslint --rule 'no-console: error' --fix, prettier --write src/

Notes added by 'git notes add'
  ce8de1e4e3188ae30990943d81fd2f4002845a09
Due: none

Add security-gates workflow and update README
  .github/workflows/security-gates.yml
Due: none

Add security-gates workflow and update README
  .github/workflows/scorecard.yml
Due: none

Add security-gates workflow and update README
  README.md
Due: prettier --write

Notes added by 'git notes add'
  74e88f619c6dd20f0ad5c9421fc879f31fadd93d
Due: none

fix(scorecard): fixed scorecard.yml
  .github/workflows/scorecard.yml
Due: none

Notes added by 'git notes add'
  59c0454714dfec95e3e2dff551670c2a1b4269e9
Due: none

fix(scorecard): revert upload-sarif@v3
  .github/workflows/scorecard.yml
Due: none

Notes added by 'git notes add'
  226a3958354f28158d42017db01667fd2c8dd346
Due: none

fix(scorecard): update scorecard.yml
  .github/workflows/scorecard.yml
Due: none

Notes added by 'git notes add'
  dcd6be5135bde2c3f4e376ef8de793fd32ee6a53
Due: none

Notes added by 'git notes add'
  ce3dd3e720588adbcda708c0ac3273f1efa3779e
Due: none

feat(radiobutton): add radio button
  .storybook/preview.tsx
  .storybook/storybook.requires.js
  docs/stories/assets/radiobutton/radiobuttonCases.png
  docs/stories/components/radiobutton.stories.mdx
  src/components/RadioButton/RadioButton.stories.tsx
  src/components/RadioButton/RadioButton.test.tsx
  src/components/RadioButton/RadioButton.tsx
  src/components/RadioButton/__snapshots__/RadioButton.test.tsx.snap
  src/index.ts
  src/theme.ts
Due: eslint --rule 'no-console: error' --fix, prettier --write src/

Notes added by 'git notes add'
  6227999ea91a91bfb8db72c60577cb95ac049aa2
Due: none

Notes added by 'git notes add'
  66fdc4c278327caa5c501440538321fa052c6619
Due: none

feat(tooltip): add document and preview image
  docs/stories/assets/tooltip/tooltip1.png
  docs/stories/assets/tooltip/tooltip2.png
  docs/stories/assets/tooltip/tooltip3.png
  docs/stories/assets/tooltip/tooltip4.png
  docs/stories/assets/tooltip/tooltip5.png
  docs/stories/assets/tooltip/tooltip6.png
  docs/stories/components/tooltip.stories.mdx
  src/components/Tooltip/Tooltip.stories.tsx
Due: eslint --rule 'no-console: error' --fix, prettier --write src/

Notes added by 'git notes add'
  7ca5f96cc09c43efd146f580f52ec34016378b73
Due: none

Notes added by 'git notes add'
  df53ca680c0b1d28a988817017728255f1e3e29b
Due: none

Notes added by 'git notes add'
  fff0e860fc6df5dbf6414d1515d6d5445aab129a
Due: none

fix(scorecard): update sarif_file
  .github/workflows/scorecard.yml
Due: none

Notes added by 'git notes add'
  2404ee70aa5a791e3e0fa59eff08af8bb1a62c43
Due: none

feat(tabs): added Tabs component
  .storybook/preview.tsx
  .storybook/storybook.requires.js
  src/components/Tabs/Tabs.stories.tsx
  src/components/Tabs/Tabs.test.tsx
  src/components/Tabs/Tabs.tsx
  src/components/Tabs/__snapshots__/Tabs.test.tsx.snap
  src/components/Tabs/utils.ts
  src/index.ts
Due: eslint --rule 'no-console: error' --fix, prettier --write src/

fix(tabs): memorized data
  src/components/Tabs/Tabs.tsx
Due: eslint --rule 'no-console: error' --fix, prettier --write src/

feat(tabs): add icon and badge
  src/components/Alert/__snapshots__/Alert.test.tsx.snap
  src/components/Alert/__snapshots__/AlertIcon.test.tsx.snap
  src/components/Badge/Badge.tsx
  src/components/Badge/__snapshots__/Badge.test.tsx.snap
  src/components/Checkbox/__snapshots__/Checkbox.test.tsx.snap
  src/components/Icon/Icon.tsx
  src/components/Icon/__snapshots__/Icon.test.tsx.snap
  src/components/Input/__snapshots__/Input.test.tsx.snap
  src/components/Input/__snapshots__/InputIcon.test.tsx.snap
  src/components/Input/utils.test.ts
  src/components/Modal/__snapshots__/Modal.test.tsx.snap
  src/components/Tabs/Tabs.stories.tsx
  src/components/Tabs/Tabs.test.tsx
  src/components/Tabs/Tabs.tsx
  src/components/Tabs/__snapshots__/Tabs.test.tsx.snap
Due: eslint --rule 'no-console: error' --fix, prettier --write src/

fix(tabs): fix type
  src/components/Tabs/Tabs.test.tsx
Due: eslint --rule 'no-console: error' --fix, prettier --write src/

Notes added by 'git notes add'
  738ddf1ebf24edc2d4a9c7760947a852149ed4ed
Due: none

chore(docs): add tabs docs
  docs/stories/assets/tabs/IconBadgeTabs.png
  docs/stories/assets/tabs/TabCases.png
  docs/stories/components/tabs.stories.mdx
  src/components/Tabs/Tabs.stories.tsx
Due: eslint --rule 'no-console: error' --fix, prettier --write src/

Path conditions:
  eslint --rule 'no-console: error' --fix: any of: *.{ts,tsx}
  prettier --write src/: any of: *.{ts,tsx}
  prettier --write: any of: *.{json,md}
