Repository Trendyol/baklava-react-native: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --rule 'no-console: error' --fix, prettier --write src/, prettier --write components/, prettier --write

chore: add github issue template
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/ISSUE_TEMPLATE/new-component-definition.md
  package.json
Due: prettier --write

chore: add docs packages
  .eslintrc.js
  .gitignore
  docs/package-lock.json
  docs/package.json
  ios/Podfile.lock
  package-lock.json
  package.json
  src/index.ts
Due: eslint --rule 'no-console: error' --fix, prettier --write src/, prettier --write components/, prettier --write

chore: add publish docs workflow
  .editorconfig
  .eslintignore
  .github/workflows/publish-docs.yml
  .npmignore
  .prettierignore
  .storybook/storybook.requires.js
  .watchmanconfig
  app.json
  ios/Baklava/Images.xcassets/AppIcon.appiconset/Contents.json
  ios/Baklava/Images.xcassets/Contents.json
  package.json
Due: prettier --write

Update README.md
  README.md
Due: prettier --write

chore: remove storybook-deployer
  package-lock.json
  package.json
Due: prettier --write

chore: prepare for release
  .npmrc
  package.json
  tsconfig.json
Due: prettier --write

chore: add recommended extensions
  .vscode/extensions.json
Due: prettier --write

chore(commit): add commitlint
  commitlint.config.js
  package-lock.json
  package.json
Due: prettier --write

chore: add license
  LICENSE.md
Due: prettier --write

chore: update eslint/prettier ignore
  .eslintignore
  .eslintrc.js
  .prettierignore
Due: none

chore: remove patch-package
  ios/Podfile.lock
  patches/@testing-library+react-native+10.1.1.patch
  src/testUtils.tsx
Due: eslint --rule 'no-console: error' --fix, prettier --write src/, prettier --write components/

chore: move deps to peerDeps
  .npmignore
  package-lock.json
  package.json
Due: prettier --write

fix(button): change icon prop
  components/Button/Button.stories.tsx
  components/Button/Button.tsx
Due: eslint --rule 'no-console: error' --fix, prettier --write src/, prettier --write components/

chore(input): add more prop types
  components/Input/Input.tsx
Due: eslint --rule 'no-console: error' --fix, prettier --write src/, prettier --write components/

chore(button): remove unused import
  components/Button/Button.stories.tsx
Due: eslint --rule 'no-console: error' --fix, prettier --write src/, prettier --write components/

chore: update snapshots
  components/Icon/__snapshots__/Icon.test.tsx.snap
  components/Input/__snapshots__/Input.test.tsx.snap
  components/Input/__snapshots__/InputIcon.test.tsx.snap
Due: none

chore(button): update test
  components/Button/Button.test.tsx
Due: eslint --rule 'no-console: error' --fix, prettier --write src/, prettier --write components/

feat(ci): add workflows
  .github/workflows/publish-docs.yml
  .github/workflows/pull-request.yml
  .github/workflows/release.yml
  .github/workflows/verify-and-release.yml
  .github/workflows/verify.yml
Due: none

feat(ci): add releaserc file
  .releaserc
Due: none

fix(ci): change npm token name
  .github/workflows/release.yml
Due: none

fix(ci): change secret key
  .github/workflows/release.yml
Due: none

feat(button): remove passive variant
  components/Button/Button.stories.tsx
  components/Button/Button.test.tsx
  components/Button/Button.tsx
  components/Button/types.ts
  components/Input/hooks.ts
  docs/stories/components/button.stories.mdx
  src/theme.ts
Due: eslint --rule 'no-console: error' --fix, prettier --write src/, prettier --write components/

feat: update theme for overridable themes
  .storybook/preview.js
  components/Button/Button.test.tsx
  components/Button/Button.tsx
  components/Button/__snapshots__/Button.test.tsx.snap
  components/Icon/Icon.tsx
  components/Input/Input.tsx
  components/Input/InputLabel.tsx
  components/Input/__snapshots__/Input.test.tsx.snap
  components/Input/__snapshots__/InputHelpText.test.tsx.snap
  components/Input/__snapshots__/InputLabel.test.tsx.snap
  components/Input/hooks.test.ts
  components/Input/hooks.ts
  components/Text/Text.tsx
  components/Text/__snapshots__/Text.test.tsx.snap
  package.json
  src/theme.ts
  src/theme/base.ts
  src/theme/components.ts
  src/theme/index.ts
Due: eslint --rule 'no-console: error' --fix, prettier --write src/, prettier --write components/, prettier --write

fix(input): remove unused test props
  components/Input/InputLabel.test.tsx
Due: eslint --rule 'no-console: error' --fix, prettier --write src/, prettier --write components/

chore(ci): add bob build to pre-commit hook
  .lintstagedrc
Due: none

fix(input): update snapshots
  components/Input/__snapshots__/InputLabel.test.tsx.snap
Due: none

chore(text): chage storybook titles
  components/Text/Text.stories.tsx
Due: eslint --rule 'no-console: error' --fix, prettier --write src/, prettier --write components/

chore: add contribution.md
  CONTRIBUTING.md
Due: prettier --write

chore(ci): add pre-commit hook
  .gitconfig
  .gitmessage
  .husky/commit-msg
  .husky/pre-commit
  .lintstagedrc
Due: none

chore(docs): update readme.md
  README.md
Due: prettier --write

feat: update package name
  package-lock.json
  package.json
Due: prettier --write

feat(icon): add feedback icon
  components/Icon/list.ts
  src/icons/Feedback.tsx
  src/icons/index.ts
  src/svg-icons/feedback.svg
Due: eslint --rule 'no-console: error' --fix, prettier --write src/, prettier --write components/

chore(template): update issue template
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/new-component-definition.md
Due: prettier --write

chore(template): update issue template
  .github/ISSUE_TEMPLATE/new-component-definition.md
Due: prettier --write

chore(contributing): add design review section
  CONTRIBUTING.md
  docs/stories/3_contributing.stories.mdx
Due: prettier --write

chore(docs): add button expo snack
  docs/.storybook/preview-head.html
  docs/stories/components/button.stories.mdx
Due: none

chore(docs): add box, icon, text snack
  docs/stories/components/box.stories.mdx
  docs/stories/components/button.stories.mdx
  docs/stories/components/icon.stories.mdx
  docs/stories/components/text.stories.mdx
Due: none

Path conditions:
  eslint --rule 'no-console: error' --fix: any of: *.{ts,tsx}
  prettier --write src/: any of: *.{ts,tsx}
  prettier --write components/: any of: *.{ts,tsx}
  prettier --write: any of: *.{json,md}
