Repository Trendyol/baklava-react-native: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --rule 'no-console: error' --fix, prettier --write src/, prettier --write

Notes added by 'git notes add'
  488f8a5d61d0de3ebaae4e96a36b11d2f34b9c74
Due: none

fix(switch): add accessibilityLabel
  src/components/Alert/__snapshots__/Alert.test.tsx.snap
  src/components/Badge/__snapshots__/Badge.test.tsx.snap
  src/components/Button/__snapshots__/Button.test.tsx.snap
  src/components/Input/__snapshots__/Input.test.tsx.snap
  src/components/Input/__snapshots__/InputLabel.test.tsx.snap
  src/components/Spinner/Spinner.tsx
  src/components/Switch/Switch.test.tsx
  src/components/Switch/Switch.tsx
  src/components/Switch/__snapshots__/Switch.test.tsx.snap
  src/components/Text/Text.tsx
Due: eslint --rule 'no-console: error' --fix, prettier --write src/

Notes added by 'git notes add'
  31188a74b5079c59165ff34160860a697f54bd4d
Due: none

fix(image): export
  src/index.ts
Due: eslint --rule 'no-console: error' --fix, prettier --write src/

Notes added by 'git notes add'
  783728770963141edc3dc87446f41ba68ef3368e
Due: none

fix(image): style and border radius
  src/components/Image/Image.stories.tsx
  src/components/Image/Image.tsx
  src/components/Image/__snapshots__/Image.test.tsx.snap
Due: eslint --rule 'no-console: error' --fix, prettier --write src/

Notes added by 'git notes add'
  191b12ccbfdcca94b83fe6e8ec3f5b7aa5a55e83
Due: none

fix(image): update border radius
  src/components/Image/Image.tsx
Due: eslint --rule 'no-console: error' --fix, prettier --write src/

Notes added by 'git notes add'
  9f2bd4fa87652811f3d82be049f67d035f65e35b
Due: none

chore(ci): lock builder bob version
  package-lock.json
  package.json
Due: prettier --write

feat(modal): added modal component
  .storybook/Storybook.tsx
  .storybook/preview.js
  .storybook/storybook.requires.js
  App.tsx
  docs/stories/2_getting-started.stories.mdx
  docs/stories/components/modal.stories.mdx
  metro.config.js
  package.json
  src/components/Button/Button.tsx
  src/components/Modal/Modal.stories.tsx
  src/components/Modal/Modal.test.tsx
  src/components/Modal/Modal.tsx
  src/components/Modal/__snapshots__/Modal.test.tsx.snap
  src/components/Portal/index.ts
  src/index.ts
  src/test-utils.tsx
Due: eslint --rule 'no-console: error' --fix, prettier --write src/, prettier --write

fix(portal): remove portal folder
  src/components/Portal/index.ts
Due: eslint --rule 'no-console: error' --fix, prettier --write src/

fix(portal): update package-lock.json
  package-lock.json
Due: prettier --write

fix(lint): removed unused
  src/components/Image/Image.stories.tsx
  src/components/Input/Input.stories.tsx
Due: eslint --rule 'no-console: error' --fix, prettier --write src/

Notes added by 'git notes add'
  ed9f6c477d00268b759387d6919b6274537975dc
Due: none

chore(docs): update color props on docs
  docs/stories/components/badge.stories.mdx
  docs/stories/components/icon.stories.mdx
  docs/stories/components/switch.stories.mdx
  docs/stories/components/text.stories.mdx
Due: none

feat(icons): add incognito, meal-bag, motorcycle-check and performance-data icons
  docs/stories/components/icon.stories.mdx
  src/components/Icon/list.ts
  src/icons/Incognito.tsx
  src/icons/MealBag.tsx
  src/icons/MotorcycleCheck.tsx
  src/icons/PerformanceData.tsx
  src/icons/index.ts
  src/svg-icons/incognito.svg
  src/svg-icons/meal-bag.svg
  src/svg-icons/motorcycle-check.svg
  src/svg-icons/performance-data.svg
Due: eslint --rule 'no-console: error' --fix, prettier --write src/

fix(actions): upgrade node 18 to 20
  .github/workflows/release.yml
Due: none

Notes added by 'git notes add'
  d6277e52d31525a9ecd21966f0c503f144188c6a
Due: none

feat(textArea): added textarea component
  .storybook/preview.js
  .storybook/storybook.requires.js
  docs/stories/assets/textarea/TextAreaCases.png
  docs/stories/assets/textarea/TextAreaSizes.png
  docs/stories/assets/textarea/TextAreaTypes.png
  docs/stories/components/textarea.stories.mdx
  src/components/TextArea/TextArea.stories.tsx
  src/components/TextArea/TextArea.test.tsx
  src/components/TextArea/TextArea.tsx
  src/components/TextArea/TextAreaCounterText.test.tsx
  src/components/TextArea/TextAreaCounterText.tsx
  src/components/TextArea/TextAreaHelpText.test.tsx
  src/components/TextArea/TextAreaHelpText.tsx
  src/components/TextArea/TextAreaLabel.test.tsx
  src/components/TextArea/TextAreaLabel.tsx
  src/components/TextArea/__snapshots__/TextArea.test.tsx.snap
  src/components/TextArea/__snapshots__/TextAreaCounterText.test.tsx.snap
  src/components/TextArea/__snapshots__/TextAreaHelpText.test.tsx.snap
  src/components/TextArea/__snapshots__/TextAreaLabel.test.tsx.snap
  src/components/TextArea/hooks.test.ts
  src/components/TextArea/hooks.ts
  src/components/TextArea/types.ts
  src/components/TextArea/utils.test.ts
  src/components/TextArea/utils.ts
  src/index.ts
  src/theme.ts
Due: eslint --rule 'no-console: error' --fix, prettier --write src/

Notes added by 'git notes add'
  5e16d16efd62153ea5046aad2ef175ad65cf0257
Due: none

feat(icons): add meal-order-back, meal-order-cancel and meal-order-return icons
  docs/stories/components/icon.stories.mdx
  src/components/Icon/list.ts
  src/icons/MealOrderBack.tsx
  src/icons/MealOrderCancel.tsx
  src/icons/MealOrderReturn.tsx
  src/icons/index.ts
  src/svg-icons/meal-order-back.svg
  src/svg-icons/meal-order-cancel.svg
  src/svg-icons/meal-order-return.svg
Due: eslint --rule 'no-console: error' --fix, prettier --write src/

Notes added by 'git notes add'
  bd816a1b55ddc8a35a9c116c56a306f9f9d72e28
Due: none

feat(icon): add arrow-right-up icon
  docs/stories/components/icon.stories.mdx
  src/components/Icon/list.ts
  src/icons/ArrowRightUp.tsx
  src/icons/index.ts
  src/svg-icons/arrow-right-up.svg
Due: eslint --rule 'no-console: error' --fix, prettier --write src/

Notes added by 'git notes add'
  74338c1ea6b8993fa49261d07487d0450a90c896
Due: none

fix(toast): fix typo
  docs/stories/components/toast.stories.mdx
  src/components/Toast/Toast.stories.tsx
  src/components/Toast/Toast.tsx
  src/components/Toast/ToastView.tsx
  src/components/Toast/types.ts
  src/index.ts
Due: eslint --rule 'no-console: error' --fix, prettier --write src/

Notes added by 'git notes add'
  98e04c81eb5b6d72cd5923bc5ba25792aba9061c
Due: none

feat(icon): add more-horizontal and more-vertical icons
  docs/stories/components/icon.stories.mdx
  src/components/Icon/list.ts
  src/icons/MoreHorizontal.tsx
  src/icons/MoreVertical.tsx
  src/icons/index.ts
  src/svg-icons/more-horizontal.svg
  src/svg-icons/more-vertical.svg
Due: eslint --rule 'no-console: error' --fix, prettier --write src/

Notes added by 'git notes add'
  330dff7d000ecf938d32e817f4fd604346470873
Due: none

refactor(textarea): textarea removed unneccessary effect with initial state completed
  src/components/TextArea/TextArea.tsx
Due: eslint --rule 'no-console: error' --fix, prettier --write src/

fix(textarea): bordercolor border color change on error state fixed completed
  src/components/TextArea/utils.test.ts
  src/components/TextArea/utils.ts
Due: eslint --rule 'no-console: error' --fix, prettier --write src/

fix(input): animation race condition
  src/components/Input/Input.test.tsx
  src/components/Input/Input.tsx
  src/components/Input/hooks.ts
  src/components/TextArea/TextArea.test.tsx
  src/components/TextArea/TextArea.tsx
  src/components/TextArea/hooks.ts
Due: eslint --rule 'no-console: error' --fix, prettier --write src/

Notes added by 'git notes add'
  23c832ad26ed4f06f5342c2671f551fcef2f0177
Due: none

feat(icon): add menu icon
  docs/stories/components/icon.stories.mdx
  src/components/Icon/list.ts
  src/icons/Menu.tsx
  src/icons/index.ts
  src/svg-icons/menu.svg
Due: eslint --rule 'no-console: error' --fix, prettier --write src/

Notes added by 'git notes add'
  3a67691bf33083e3bd215e173077d79186314f72
Due: none

fix(storybook): update addons types
  src/components/Alert/Alert.stories.tsx
  src/components/Badge/Badge.stories.tsx
  src/components/Button/Button.stories.tsx
  src/components/Icon/Icon.stories.tsx
  src/components/Input/Input.stories.tsx
  src/components/Text/Text.stories.tsx
  src/components/TextArea/TextArea.stories.tsx
  src/components/TextLink/TextLink.stories.tsx
Due: eslint --rule 'no-console: error' --fix, prettier --write src/

Notes added by 'git notes add'
  85a45ec00142a5b3bbf292f2e8cafa3f78856e63
Due: none

feat(icon): add door-open and credit-card icons
  docs/stories/components/icon.stories.mdx
  src/components/Icon/list.ts
  src/icons/CreditCard.tsx
  src/icons/DoorOpen.tsx
  src/icons/index.ts
  src/svg-icons/credit-card.svg
  src/svg-icons/door-open.svg
Due: eslint --rule 'no-console: error' --fix, prettier --write src/

Notes added by 'git notes add'
  b4d34a8e707f363c1f9d6639941ac4f55e4574e9
Due: none

fix(box): sync testID and accessibilityLabel
  ios/Podfile.lock
  package-lock.json
  src/components/Alert/__snapshots__/Alert.test.tsx.snap
  src/components/Badge/__snapshots__/Badge.test.tsx.snap
  src/components/Box/Box.tsx
  src/components/Box/__snapshots__/Box.test.tsx.snap
  src/components/Button/__snapshots__/Button.test.tsx.snap
  src/components/Checkbox/__snapshots__/Checkbox.test.tsx.snap
  src/components/Image/Image.stories.tsx
  src/components/Image/__snapshots__/Image.test.tsx.snap
  src/components/Input/Input.stories.tsx
  src/components/Input/__snapshots__/Input.test.tsx.snap
  src/components/Input/__snapshots__/InputHelpText.test.tsx.snap
  src/components/Input/__snapshots__/InputLabel.test.tsx.snap
  src/components/Modal/__snapshots__/Modal.test.tsx.snap
  src/components/Portal/index.ts
  src/components/Switch/__snapshots__/Switch.test.tsx.snap
  src/components/Toast/__snapshots__/ToastView.test.tsx.snap
Due: eslint --rule 'no-console: error' --fix, prettier --write src/, prettier --write

Path conditions:
  eslint --rule 'no-console: error' --fix: any of: *.{ts,tsx}
  prettier --write src/: any of: *.{ts,tsx}
  prettier --write: any of: *.{json,md}
