Repository Trendyol/baklava-react-native: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --rule 'no-console: error' --fix, prettier --write src/, prettier --write

.lintstagedrc:

{
  "*.{ts,tsx}": [
    "eslint --rule 'no-console: error' --fix",
    "prettier --write src/"
  ],
  "*.{json,md}": [
    "prettier --write"
  ]
}

feat(BottomSheet): add BottomSheet component
  .storybook/preview.tsx
  .storybook/storybook.requires.js
  ios/Podfile.lock
  package-lock.json
  package.json
  src/components/BottomSheet/BottomSheet.stories.tsx
  src/components/BottomSheet/BottomSheet.test.tsx
  src/components/BottomSheet/BottomSheet.tsx
  src/components/BottomSheet/__snapshots__/BottomSheet.test.tsx.snap
  src/components/Modal/BaseModal.tsx
  src/components/Modal/Modal.tsx
  src/components/Modal/__snapshots__/Modal.test.tsx.snap
  src/components/Toast/Toast.tsx
  src/components/Toast/utils.ts
  src/index.ts
Due: eslint --rule 'no-console: error' --fix, prettier --write src/, prettier --write

Notes added by 'git notes add'
  d684ab203400e6e61d88c9ad6d956ff030200c0e
Due: none

chore(docs): update bottom sheet story document
  docs/stories/assets/bottomsheet/BottomSheetBasic.png
  docs/stories/assets/bottomsheet/BottomSheetWithImage.png
  docs/stories/components/bottomsheet.stories.mdx
  src/components/BottomSheet/BottomSheet.stories.tsx
  src/components/BottomSheet/BottomSheet.tsx
Due: eslint --rule 'no-console: error' --fix, prettier --write src/

Notes added by 'git notes add'
  21980898b0c8adb05a7731600f2a8e0736d403bd
Due: none

feat(checkbox): added icon to checkbox
  docs/stories/assets/checkbox/checkboxCases.png
  docs/stories/assets/checkbox/checkboxWithIcon.png
  docs/stories/components/checkbox.stories.mdx
  ios/Podfile.lock
  src/components/Checkbox/Checkbox.stories.tsx
  src/components/Checkbox/Checkbox.test.tsx
  src/components/Checkbox/Checkbox.tsx
Due: eslint --rule 'no-console: error' --fix, prettier --write src/

Notes added by 'git notes add'
  6bb39de3afa6c74ca7c735d16ce351afabf98f4d
Due: none

feat(radioButton): added icon to Radio Button
  docs/stories/assets/radiobutton/radiobuttonCases.png
  docs/stories/assets/radiobutton/radiobuttonWithIcon.png
  docs/stories/components/checkbox.stories.mdx
  docs/stories/components/radiobutton.stories.mdx
  src/components/RadioButton/RadioButton.stories.tsx
  src/components/RadioButton/RadioButton.test.tsx
  src/components/RadioButton/RadioButton.tsx
Due: eslint --rule 'no-console: error' --fix, prettier --write src/

Notes added by 'git notes add'
  fb904f6713316a39e3e8b2f9d5157ba0f24a8b49
Due: none

Notes added by 'git notes add'
  09359c2cbffda4473147e4b19f8aefabf9ffb974
Due: none

feat(selectBottomSheet): added SelectBottomSheet component
  .storybook/preview.tsx
  .storybook/storybook.requires.js
  docs/stories/assets/selectbottomsheet/SelectBottomSheetWithCheckbox.png
  docs/stories/assets/selectbottomsheet/SelectBottomSheetWithRadioButton.png
  docs/stories/components/selectbottomsheet.stories.mdx
  src/components/SelectBottomSheet/SelectBottomSheet.stories.tsx
  src/components/SelectBottomSheet/SelectBottomSheet.test.tsx
  src/components/SelectBottomSheet/SelectBottomSheet.tsx
  src/components/SelectBottomSheet/__snapshots__/SelectBottomSheet.test.tsx.snap
  src/index.ts
Due: eslint --rule 'no-console: error' --fix, prettier --write src/

feat(toast): update toast max length
  src/components/Toast/ToastView.test.tsx
  src/components/Toast/ToastView.tsx
  src/components/Toast/types.ts
Due: eslint --rule 'no-console: error' --fix, prettier --write src/

Notes added by 'git notes add'
  39234ce58c1c74af4be4022927a51f7b7bdf52e4
Due: none

Notes added by 'git notes add'
  cf58ab3c9bbfc336546d4d200b38ba5e8f95fb1a
Due: none

fix(flagIcon): update flag icon names
  docs/stories/components/checkbox.stories.mdx
  docs/stories/components/flagicon.stories.mdx
  docs/stories/components/radiobutton.stories.mdx
  docs/stories/components/selectbottomsheet.stories.mdx
  src/components/Checkbox/Checkbox.stories.tsx
  src/components/Checkbox/Checkbox.test.tsx
  src/components/FlagIcon/FlagIcon.stories.tsx
  src/components/FlagIcon/FlagIcon.test.tsx
  src/components/FlagIcon/FlagIcon.tsx
  src/components/FlagIcon/__snapshots__/FlagIcon.test.tsx.snap
  src/components/FlagIcon/list.ts
  src/components/RadioButton/RadioButton.stories.tsx
  src/components/RadioButton/RadioButton.test.tsx
  src/components/SelectBottomSheet/SelectBottomSheet.test.tsx
  src/components/SelectBottomSheet/SelectBottomSheet.tsx
  src/components/SelectBottomSheet/__snapshots__/SelectBottomSheet.test.tsx.snap
  src/icons/AE.tsx
  src/icons/CZ.tsx
  src/icons/DE.tsx
  src/icons/GR.tsx
  src/icons/QA.tsx
  src/icons/RO.tsx
  src/icons/SA.tsx
  src/icons/SK.tsx
  src/icons/TR.tsx
  src/icons/index.ts
  src/svg-icons/ae.svg
  src/svg-icons/cz.svg
  src/svg-icons/de.svg
  src/svg-icons/gr.svg
  src/svg-icons/qa.svg
  src/svg-icons/ro.svg
  src/svg-icons/sa.svg
  src/svg-icons/sk.svg
  src/svg-icons/tr.svg
Due: eslint --rule 'no-console: error' --fix, prettier --write src/

Notes added by 'git notes add'
  2eb261d6883c795cec482f1e8cc2a290eda568ce
Due: none

fix(bottomSheet): updated select button in the bottomSheet to optional
  docs/stories/components/bottomsheet.stories.mdx
  src/components/BottomSheet/BottomSheet.tsx
  src/components/SelectBottomSheet/SelectBottomSheet.stories.tsx
  src/components/SelectBottomSheet/SelectBottomSheet.test.tsx
  src/components/SelectBottomSheet/SelectBottomSheet.tsx
Due: eslint --rule 'no-console: error' --fix, prettier --write src/

Notes added by 'git notes add'
  b9dff017d2e8bdbeb05e05a50ee3898f35596dc4
Due: none

fix(selectBottomSheet): add TouchableOpacity to selectBottomSheet
  src/components/SelectBottomSheet/SelectBottomSheet.tsx
  src/components/SelectBottomSheet/__snapshots__/SelectBottomSheet.test.tsx.snap
Due: eslint --rule 'no-console: error' --fix, prettier --write src/

Notes added by 'git notes add'
  09bcbe1308661e27ba4137f6a129be0afd80ec0b
Due: none

fix(selectBottomSheet): add accessibilityLabels
  src/components/SelectBottomSheet/SelectBottomSheet.tsx
  src/components/SelectBottomSheet/__snapshots__/SelectBottomSheet.test.tsx.snap
Due: eslint --rule 'no-console: error' --fix, prettier --write src/

Notes added by 'git notes add'
  23dd2500d4b39511d02c3008f60bb75b4ce4f46d
Due: none

feat(selectBottomSheet): add support for disabled options
  src/components/SelectBottomSheet/SelectBottomSheet.stories.tsx
  src/components/SelectBottomSheet/SelectBottomSheet.test.tsx
  src/components/SelectBottomSheet/SelectBottomSheet.tsx
Due: eslint --rule 'no-console: error' --fix, prettier --write src/

Notes added by 'git notes add'
  f0dcb84560282365a2ca2fb5a66d86f49b370d94
Due: none

feat(select): add Select component
  .storybook/preview.tsx
  .storybook/storybook.requires.js
  docs/stories/assets/select/Select.png
  docs/stories/assets/select/SelectCases.png
  docs/stories/assets/select/SingleSelect.png
  docs/stories/components/select.stories.mdx
  src/components/Input/Input.tsx
  src/components/Input/InputHelpText.tsx
  src/components/Input/InputLabel.tsx
  src/components/Input/__snapshots__/Input.test.tsx.snap
  src/components/Input/__snapshots__/InputHelpText.test.tsx.snap
  src/components/Input/types.ts
  src/components/Select/Select.stories.tsx
  src/components/Select/Select.test.tsx
  src/components/Select/Select.tsx
  src/components/Select/__snapshots__/Select.test.tsx.snap
  src/index.ts
Due: eslint --rule 'no-console: error' --fix, prettier --write src/

feat(select): refactor multiple selection
  ios/Podfile.lock
  src/components/Input/Input.stories.tsx
  src/components/Select/Select.test.tsx
  src/components/Select/Select.tsx
Due: eslint --rule 'no-console: error' --fix, prettier --write src/

Notes added by 'git notes add'
  2083a9a7ad1badd00499c63bedca8263dbd13add
Due: none

feat(flagIcon): added bulgaria to icon list
  docs/stories/components/flagicon.stories.mdx
  src/components/FlagIcon/list.ts
  src/icons/BG.tsx
  src/icons/index.ts
Due: eslint --rule 'no-console: error' --fix, prettier --write src/

fix(Button): render children prop and add corresponding test
  src/components/Button/Button.test.tsx
  src/components/Button/Button.tsx
Due: eslint --rule 'no-console: error' --fix, prettier --write src/

fix(button): removed unused children
  src/components/Button/Button.tsx
Due: eslint --rule 'no-console: error' --fix, prettier --write src/

Notes added by 'git notes add'
  454b5f354c68d72913a2b0966d188d4a8441a184
Due: none

feat(flagIcon): added flags
  src/components/FlagIcon/list.ts
  src/icons/ES.tsx
  src/icons/NL.tsx
  src/icons/index.ts
  src/svg-icons/es.svg
  src/svg-icons/nl.svg
Due: eslint --rule 'no-console: error' --fix, prettier --write src/

Notes added by 'git notes add'
  6578d96b19b551b4af0adade46648b21056ae919
Due: none

chore(docs): update flagicon mdx
  docs/stories/assets/flagicon/FlagIconList.png
  docs/stories/components/flagicon.stories.mdx
Due: none

Notes added by 'git notes add'
  4de6ac7567be98e12142358838230724589abf2f
Due: none

feat(Datepicker): added datepicker component
  .storybook/storybook.requires.js
  Gemfile
  Gemfile.lock
  src/components/DatePicker/CalendarHeader.tsx
  src/components/DatePicker/CalendarPicker.tsx
  src/components/DatePicker/CalendarWrapper.tsx
  src/components/DatePicker/DatePicker.stories.tsx
  src/components/DatePicker/DatePicker.test.tsx
  src/components/DatePicker/DatePicker.tsx
  src/components/DatePicker/DatePickerContext.tsx
  src/components/DatePicker/MonthPicker.tsx
  src/components/DatePicker/YearPicker.tsx
  src/components/DatePicker/__snapshots__/DatePicker.test.tsx.snap
  src/components/DatePicker/constants.ts
  src/components/DatePicker/types.ts
  src/components/DatePicker/utils.test.ts
  src/components/DatePicker/utils.ts
  src/index.ts
Due: eslint --rule 'no-console: error' --fix, prettier --write src/

feat(Datepicker): revert gem file
  Gemfile
  Gemfile.lock
  src/components/DatePicker/utils.test.ts
  src/components/DatePicker/utils.ts
Due: eslint --rule 'no-console: error' --fix, prettier --write src/

fix(datePicker): fix indents
  .storybook/preview.tsx
  .storybook/storybook.requires.js
  ios/Podfile.lock
  src/components/DatePicker/CalendarHeader.tsx
  src/components/DatePicker/CalendarPicker.tsx
  src/components/DatePicker/CalendarWrapper.tsx
  src/components/DatePicker/DatePicker.stories.tsx
  src/components/DatePicker/DatePicker.test.tsx
  src/components/DatePicker/DatePicker.tsx
  src/components/DatePicker/DatePickerContext.tsx
  src/components/DatePicker/MonthPicker.tsx
  src/components/DatePicker/YearPicker.tsx
  src/components/DatePicker/constants.ts
  src/components/DatePicker/types.ts
  src/components/DatePicker/utils.test.ts
  src/components/DatePicker/utils.ts
Due: eslint --rule 'no-console: error' --fix, prettier --write src/
