Repository Trendyol/baklava-react-native: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --rule 'no-console: error' --fix, prettier --write src/, prettier --write

chore(docs): update readme.md
  README.md
  docs/stories/assets/input/InputCases.png
  ios/Podfile.lock
Due: prettier --write

feat: add toast component
  .storybook/preview.js
  .storybook/storybook.requires.js
  package-lock.json
  package.json
  src/components/Toast/PanResponder.helper.ts
  src/components/Toast/Toast.stories.tsx
  src/components/Toast/Toast.test.tsx
  src/components/Toast/Toast.tsx
  src/components/Toast/ToastView.test.tsx
  src/components/Toast/ToastView.tsx
  src/components/Toast/__snapshots__/Toast.test.tsx.snap
  src/components/Toast/__snapshots__/ToastView.test.tsx.snap
  src/components/Toast/hooks.test.ts
  src/components/Toast/hooks.ts
  src/components/Toast/types.ts
  src/components/Toast/utils.test.ts
  src/components/Toast/utils.ts
  src/index.ts
  src/theme.ts
Due: eslint --rule 'no-console: error' --fix, prettier --write src/, prettier --write

fix(Toast): add toast root
  .storybook/preview.js
Due: none

chore(docs): add toast details
  docs/stories/assets/toast/default.png
  docs/stories/assets/toast/default_with_action.png
  docs/stories/assets/toast/default_with_action_and_keyboard.png
  docs/stories/assets/toast/default_with_keyboard.png
  docs/stories/assets/toast/error.png
  docs/stories/assets/toast/error_with_action.png
  docs/stories/assets/toast/success.png
  docs/stories/assets/toast/success_with_action.png
  docs/stories/assets/toast/warning.png
  docs/stories/assets/toast/warning_with_action.png
  docs/stories/components/toast.stories.mdx
Due: none

fix(Toast): toast description
  docs/stories/components/toast.stories.mdx
Due: none

refactor(Toast): move test helper
  src/components/Toast/PanResponder.helper.ts
  src/components/Toast/ToastView.test.tsx
  src/test-utils.tsx
Due: eslint --rule 'no-console: error' --fix, prettier --write src/

feat: add checkbox component
  .storybook/preview.js
  .storybook/storybook.requires.js
  docs/stories/assets/checkbox/checkboxCases.png
  docs/stories/components/checkbox.stories.mdx
  ios/Podfile.lock
  src/components/Checkbox/Checkbox.stories.tsx
  src/components/Checkbox/Checkbox.test.tsx
  src/components/Checkbox/Checkbox.tsx
  src/components/Checkbox/__snapshots__/Checkbox.test.tsx.snap
  src/index.ts
  src/theme.ts
Due: eslint --rule 'no-console: error' --fix, prettier --write src/

chore(docs): update token pages
  docs/stories/design-tokens/BorderRadius/index.js
  docs/stories/design-tokens/SizeLine/index.js
  docs/stories/design-tokens/borderRadius.stories.mdx
  docs/stories/design-tokens/sizes.stories.mdx
  docs/stories/design-tokens/typography.stories.mdx
  src/theme.ts
Due: eslint --rule 'no-console: error' --fix, prettier --write src/

chore(docs): update colors and docs
  .storybook/preview.js
  docs/stories/design-tokens/colors.stories.mdx
  example/src/(tabs)/about.js
  example/src/(tabs)/list/alert.js
  example/src/(tabs)/list/box.js
  example/src/(tabs)/list/button.js
  example/src/(tabs)/list/icon.js
  example/src/(tabs)/list/input.js
  example/src/(tabs)/list/text.js
  src/components/Alert/Alert.test.tsx
  src/components/Alert/AlertIcon.tsx
  src/components/Box/Box.stories.tsx
  src/components/Box/Box.test.tsx
  src/components/Button/Button.test.tsx
  src/components/Button/Button.tsx
  src/components/Checkbox/Checkbox.test.tsx
  src/components/Checkbox/Checkbox.tsx
  src/components/Checkbox/__snapshots__/Checkbox.test.tsx.snap
  src/components/Icon/Icon.stories.tsx
  src/components/Icon/Icon.test.tsx
  src/components/Icon/Icon.tsx
  src/components/Input/Input.test.tsx
  src/components/Input/Input.tsx
  src/components/Input/InputIcon.tsx
  src/components/Input/InputLabel.tsx
  src/components/Input/__snapshots__/Input.test.tsx.snap
  src/components/Input/hooks.test.ts
  src/components/Input/hooks.ts
  src/components/Input/utils.test.ts
  src/components/Input/utils.ts
  src/components/Text/Text.test.tsx
  src/components/Toast/ToastView.tsx
  src/theme.ts
Due: eslint --rule 'no-console: error' --fix, prettier --write src/

chore(text): update variants and docs
  docs/stories/assets/text/TextBody.png
  docs/stories/assets/text/TextCaption.png
  docs/stories/assets/text/TextHeading.png
  docs/stories/components/text.stories.mdx
  example/src/(tabs)/list/text.js
  src/components/Input/hooks.ts
  src/components/Text/Text.stories.tsx
  src/components/Text/Text.test.tsx
  src/theme.ts
Due: eslint --rule 'no-console: error' --fix, prettier --write src/

chore(text): update assets name
  docs/stories/assets/text/TextSubtitle1.png
  docs/stories/assets/text/TextSubtitle2.png
  docs/stories/assets/text/TextSubtitle3.png
  docs/stories/assets/text/TextSubtitle4.png
Due: none

BREAKING CHANGES(text): variant names changed
  docs/stories/assets/text/TextSubtitle1.png
  docs/stories/assets/text/TextSubtitle2.png
  docs/stories/assets/text/TextSubtitle3.png
  docs/stories/assets/text/TextSubtitle4.png
  example/src/(tabs)/list/text.js
  src/components/Text/Text.stories.tsx
Due: eslint --rule 'no-console: error' --fix, prettier --write src/

feat(text): variant names changed
  docs/stories/assets/text/TextSubtitle1.png
  docs/stories/assets/text/TextSubtitle2.png
  docs/stories/assets/text/TextSubtitle3.png
  docs/stories/assets/text/TextSubtitle4.png
  example/src/(tabs)/list/text.js
  src/components/Text/Text.stories.tsx
Due: eslint --rule 'no-console: error' --fix, prettier --write src/

feat: add badge component
  .storybook/preview.js
  .storybook/storybook.requires.js
  docs/stories/assets/badge/BadgeCases.png
  docs/stories/assets/badge/BadgeSizes.png
  docs/stories/assets/badge/BadgeVariants.png
  docs/stories/assets/badge/BadgeVariantsBg.png
  docs/stories/components/badge.stories.mdx
  src/components/Badge/Badge.stories.tsx
  src/components/Badge/Badge.test.tsx
  src/components/Badge/Badge.tsx
  src/components/Badge/__snapshots__/Badge.test.tsx.snap
  src/components/Icon/Icon.tsx
  src/components/Text/Text.tsx
  src/theme.ts
Due: eslint --rule 'no-console: error' --fix, prettier --write src/

chore: remove example
  example/.gitignore
  example/App.js
  example/README.md
  example/app.json
  example/assets/adaptive-icon.png
  example/assets/baklava.png
  example/assets/baklava@2x.png
  example/assets/baklava@3x.png
  example/assets/favicon.png
  example/assets/icon.png
  example/assets/splash.png
  example/babel.config.js
  example/package.json
  example/src/(tabs)/about.js
  example/src/(tabs)/index.js
  example/src/(tabs)/list/alert.js
  example/src/(tabs)/list/box.js
  example/src/(tabs)/list/button.js
  example/src/(tabs)/list/icon.js
  example/src/(tabs)/list/index.js
  example/src/(tabs)/list/input.js
  example/src/(tabs)/list/list.js
  example/src/(tabs)/list/text.js
  example/src/index.js
Due: prettier --write

Notes added by 'git notes add'
  b0ac772bda2f9090cc21b6fe6bdeee88d403c5f8
Due: none

Notes added by 'git notes add'
  5643b12b14bbc96ac7a4ee6dd11690fa761b260b
Due: none

chore(Toast): added bottomOffset
  src/components/Toast/Toast.tsx
  src/components/Toast/types.ts
Due: eslint --rule 'no-console: error' --fix, prettier --write src/

next added tests
  docs/stories/components/toast.stories.mdx
  src/components/Toast/Toast.test.tsx
Due: eslint --rule 'no-console: error' --fix, prettier --write src/

fix(toast): fix import
  src/components/Toast/Toast.test.tsx
Due: eslint --rule 'no-console: error' --fix, prettier --write src/

fix: trigger actions
  README.md
Due: prettier --write

Notes added by 'git notes add'
  1dd6b66c1d8487a26a6e03344ed4cdb1679c8c38
Due: none

fix(actions): trigger actions
  README.md
Due: prettier --write

feat: a feat # => v2.4.0 on @latest
  README.md
Due: prettier --write

Notes added by 'git notes add'
  03e7a3b818979e389a78a2e53c9fdaa037c0a6ec
Due: none

chore(icons): added star-fill icon
  src/components/Icon/list.ts
  src/icons/StarFill.tsx
  src/icons/index.ts
  src/svg-icons/star-fill.svg
Due: eslint --rule 'no-console: error' --fix, prettier --write src/

fix(badge): fix index.ts
  src/index.ts
Due: eslint --rule 'no-console: error' --fix, prettier --write src/

Notes added by 'git notes add'
  abfb62050bf3f77f4333dcf0a6bb6085e07bbce6
Due: none

feat(switch): add switch
  src/components/Switch/Switch.tsx
Due: eslint --rule 'no-console: error' --fix, prettier --write src/

feat(switch): add switch to index.ts
  src/index.ts
Due: eslint --rule 'no-console: error' --fix, prettier --write src/

chore(docs): update button docs
  docs/stories/components/button.stories.mdx
Due: none

feat(switch): add stories
  .storybook/preview.js
  .storybook/storybook.requires.js
  src/components/Switch/Switch.stories.tsx
Due: eslint --rule 'no-console: error' --fix, prettier --write src/

feat(switch): add tests
  src/components/Switch/Switch.test.tsx
Due: eslint --rule 'no-console: error' --fix, prettier --write src/

chore(switch): add docs
  docs/stories/assets/switch/switch.png
  docs/stories/assets/switch/switchCustomized.png
  docs/stories/assets/switch/switchDisabled.png
  docs/stories/assets/switch/switchLabel.png
  docs/stories/components/switch.stories.mdx
Due: none

fix(badge): fix badge fontWeight
  .storybook/preview.js
  docs/stories/components/badge.stories.mdx
  src/components/Badge/Badge.tsx
  src/index.ts
Due: eslint --rule 'no-console: error' --fix, prettier --write src/

Notes added by 'git notes add'
  79b79f6b012ae0ed70844fc52023d987f3eef226
Due: none

fix(switch): implement custom switch, obey the ADRs
  src/components/Switch/Switch.tsx
Due: eslint --rule 'no-console: error' --fix, prettier --write src/

fix(switch): adjust tests to new props
  src/components/Switch/Switch.test.tsx
Due: eslint --rule 'no-console: error' --fix, prettier --write src/

Path conditions:
  eslint --rule 'no-console: error' --fix: any of: *.{ts,tsx}
  prettier --write src/: any of: *.{ts,tsx}
  prettier --write: any of: *.{json,md}
