Repository Trendyol/baklava-react-native: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --rule 'no-console: error' --fix, prettier --write src/, prettier --write

.lintstagedrc:

{
  "*.{ts,tsx}": [
    "eslint --rule 'no-console: error' --fix",
    "prettier --write src/"
  ],
  "*.{json,md}": [
    "prettier --write"
  ]
}

Fix token (#125)
  .github/workflows/release.yml
Due: none

Notes added by 'git notes add'
  25f24166dd83e59e5ac6c2ec96e4267c96d428d2
Due: none

feat(icon): added icons
  src/components/DatePicker/__snapshots__/DatePicker.test.tsx.snap
  src/icons/Express.tsx
  src/icons/History.tsx
  src/icons/Target.tsx
  src/icons/index.ts
  src/svg-icons/express.svg
  src/svg-icons/history.svg
  src/svg-icons/target.svg
Due: eslint --rule 'no-console: error' --fix, prettier --write src/

Notes added by 'git notes add'
  81835587ffef6c4f1c55d2d422436ea459f5f19b
Due: none

feat(tabs): added redDot prop
  docs/stories/components/tabs.stories.mdx
  src/components/DatePicker/__snapshots__/DatePicker.test.tsx.snap
  src/components/Tabs/Tabs.stories.tsx
  src/components/Tabs/Tabs.test.tsx
  src/components/Tabs/Tabs.tsx
Due: eslint --rule 'no-console: error' --fix, prettier --write src/

Notes added by 'git notes add'
  b5413a4d1684892138ebe93c2f8e0a44eb6a1e4b
Due: none

feat(icon): added medal icon
  docs/stories/assets/tabs/IconBadgeTabs.png
  docs/stories/assets/tabs/TabCases.png
  src/icons/Medal.tsx
  src/icons/index.ts
  src/svg-icons/medal.svg
Due: eslint --rule 'no-console: error' --fix, prettier --write src/

Notes added by 'git notes add'
  991c075c191b48970e4376e93bd3ab2c1a33f6b2
Due: none

chore(snapshot): update snapshot
  src/components/DatePicker/__snapshots__/DatePicker.test.tsx.snap
Due: none

chore(docs): update switch docs
  docs/stories/components/switch.stories.mdx
  src/components/DatePicker/__snapshots__/DatePicker.test.tsx.snap
  src/components/Icon/list.ts
Due: eslint --rule 'no-console: error' --fix, prettier --write src/

ci: migrate npm release to Trusted Publishing (OIDC)
  .github/workflows/publish-docs.yml
  .github/workflows/publish-package.yml
  .github/workflows/release.yml
  .github/workflows/verify-and-release.yml
  .github/workflows/verify.yml
  .npmrc
  package-lock.json
  package.json
Due: prettier --write

feat(icon): added new_store icon
  src/components/DatePicker/__snapshots__/DatePicker.test.tsx.snap
  src/icons/NewStore.tsx
  src/icons/index.ts
  src/svg-icons/new_store.svg
Due: eslint --rule 'no-console: error' --fix, prettier --write src/

fix(image): add Fabric anti-recycling opacity guard
  src/components/Image/Image.test.tsx
  src/components/Image/Image.tsx
  src/components/Image/__snapshots__/Image.test.tsx.snap
Due: eslint --rule 'no-console: error' --fix, prettier --write src/

fix(datepicker): pin test date to prevent snapshot drift
  src/components/DatePicker/DatePicker.test.tsx
Due: eslint --rule 'no-console: error' --fix, prettier --write src/

ci: migrate npm release to Trusted Publishing (OIDC) (#130)
  .github/workflows/publish-docs.yml
  .github/workflows/publish-package.yml
  .github/workflows/release.yml
  .github/workflows/verify-and-release.yml
  .github/workflows/verify.yml
  .npmrc
  package-lock.json
  package.json
Due: prettier --write

feat(docs): added husky to gitignore
  .gitignore
Due: none

feat(docs): added permissions
  .github/workflows/release.yml
Due: none

Notes added by 'git notes add'
  3ea136f0884716bb1a02872cb61d7ca9f597d3b2
Due: none

feat(icon): update new store icon name
  src/components/Icon/list.ts
  src/svg-icons/new-store.svg
Due: eslint --rule 'no-console: error' --fix, prettier --write src/

Notes added by 'git notes add'
  efd0583dd294a0f0de24ca3633d7fa5f09546281
Due: none

fix(text): fixed snapshots
  src/components/DatePicker/__snapshots__/DatePicker.test.tsx.snap
Due: none

Notes added by 'git notes add'
  ba7aa575769aa2f68532958bdc681ca448192a97
Due: none

feat(toast): update default variant color
  docs/stories/assets/toast/default.png
  docs/stories/assets/toast/default_with_action.png
  docs/stories/assets/toast/default_with_action_and_keyboard.png
  docs/stories/assets/toast/default_with_keyboard.png
  src/components/Toast/ToastView.test.tsx
  src/components/Toast/__snapshots__/ToastView.test.tsx.snap
  src/theme.ts
Due: eslint --rule 'no-console: error' --fix, prettier --write src/

Notes added by 'git notes add'
  a8718a5a5e5cef70647142413d7715f50accf74e
Due: none

feat(alert): update info variant color
  docs/stories/assets/alert/Alert.png
  docs/stories/assets/alert/AlertVariants.png
  docs/stories/components/alert.stories.mdx
  src/components/Alert/Alert.stories.tsx
  src/components/Alert/Alert.test.tsx
  src/components/Alert/AlertIcon.tsx
  src/components/Alert/__snapshots__/Alert.test.tsx.snap
  src/components/Alert/__snapshots__/AlertIcon.test.tsx.snap
  src/theme.ts
Due: eslint --rule 'no-console: error' --fix, prettier --write src/

Notes added by 'git notes add'
  bbb3775f9d9442cdb041cf6f08ac6a2f6f9831cc
Due: none

SCM-1 test commit
  App.tsx
Due: eslint --rule 'no-console: error' --fix, prettier --write src/
