Repository Trendyol/baklava-react-native: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --rule 'no-console: error' --fix, prettier --write src/, prettier --write

.lintstagedrc:

{
  "*.{ts,tsx}": [
    "eslint --rule 'no-console: error' --fix",
    "prettier --write src/"
  ],
  "*.{json,md}": [
    "prettier --write"
  ]
}

feat(Datepicker): added missing stories
  src/components/DatePicker/DatePicker.stories.tsx
  src/components/DatePicker/utils.ts
Due: eslint --rule 'no-console: error' --fix, prettier --write src/

feat(DatePicker): added disableMonths and disableYears
  src/components/DatePicker/DatePicker.stories.tsx
  src/components/DatePicker/DatePicker.test.tsx
  src/components/DatePicker/DatePicker.tsx
  src/components/DatePicker/DatePickerContext.tsx
  src/components/DatePicker/MonthPicker.tsx
  src/components/DatePicker/YearPicker.tsx
  src/components/DatePicker/__snapshots__/DatePicker.test.tsx.snap
Due: eslint --rule 'no-console: error' --fix, prettier --write src/

feat(DatePicker): update storybook for datepicker
  src/components/DatePicker/DatePicker.stories.tsx
  src/components/DatePicker/DatePicker.test.tsx
  src/components/DatePicker/MonthPicker.tsx
  src/components/DatePicker/YearPicker.tsx
  src/components/DatePicker/__snapshots__/DatePicker.test.tsx.snap
  src/components/DatePicker/utils.test.ts
Due: eslint --rule 'no-console: error' --fix, prettier --write src/

chore(docs): added datepicker.stories
  docs/stories/components/datepicker.stories.mdx
Due: none

feat(DatePicker): refactor disable dates, months and years flow
  src/components/DatePicker/CalendarPicker.tsx
  src/components/DatePicker/DatePickerContext.tsx
  src/components/DatePicker/types.ts
  src/components/DatePicker/utils.ts
Due: eslint --rule 'no-console: error' --fix, prettier --write src/

feat(DatePicker): resolve minYear, maxYear navigation issue in calendarPicker
  src/components/DatePicker/DatePickerContext.tsx
  src/components/DatePicker/constants.ts
  src/components/DatePicker/types.ts
  src/components/DatePicker/utils.test.ts
  src/components/DatePicker/utils.ts
Due: eslint --rule 'no-console: error' --fix, prettier --write src/

chore(docs): refactor storybook file
  src/components/DatePicker/DatePicker.stories.tsx
Due: eslint --rule 'no-console: error' --fix, prettier --write src/

chore(docs): refactor storybook file
  src/components/DatePicker/DatePicker.stories.tsx
  src/components/DatePicker/DatePickerContext.tsx
  src/components/DatePicker/utils.ts
Due: eslint --rule 'no-console: error' --fix, prettier --write src/

feat(DatePicker): resolve current month issue
  src/components/DatePicker/DatePicker.stories.tsx
  src/components/DatePicker/MonthPicker.tsx
Due: eslint --rule 'no-console: error' --fix, prettier --write src/

fix(datePicker): improve type safety, performance and fix month calculation bug
  docs/stories/assets/datepicker/DatePickerCases.png
  docs/stories/assets/datepicker/DatePickerDisableDays.png
  docs/stories/assets/datepicker/DatePickerMultipleSelect.png
  docs/stories/components/datepicker.stories.mdx
  src/components/DatePicker/CalendarPicker.tsx
  src/components/DatePicker/DatePicker.stories.tsx
  src/components/DatePicker/DatePickerContext.tsx
  src/components/DatePicker/MonthPicker.tsx
  src/components/DatePicker/YearPicker.tsx
  src/components/DatePicker/utils.test.ts
  src/components/DatePicker/utils.ts
Due: eslint --rule 'no-console: error' --fix, prettier --write src/

Next (#93)
  .storybook/preview.tsx
  .storybook/storybook.requires.js
  docs/stories/assets/datepicker/DatePickerCases.png
  docs/stories/assets/datepicker/DatePickerDisableDays.png
  docs/stories/assets/datepicker/DatePickerMultipleSelect.png
  docs/stories/components/datepicker.stories.mdx
  src/components/DatePicker/CalendarHeader.tsx
  src/components/DatePicker/CalendarPicker.tsx
  src/components/DatePicker/CalendarWrapper.tsx
  src/components/DatePicker/DatePicker.stories.tsx
  src/components/DatePicker/DatePicker.test.tsx
  src/components/DatePicker/DatePicker.tsx
  src/components/DatePicker/DatePickerContext.tsx
  src/components/DatePicker/MonthPicker.tsx
  src/components/DatePicker/YearPicker.tsx
  src/components/DatePicker/__snapshots__/DatePicker.test.tsx.snap
  src/components/DatePicker/constants.ts
  src/components/DatePicker/types.ts
  src/components/DatePicker/utils.test.ts
  src/components/DatePicker/utils.ts
  src/index.ts
Due: eslint --rule 'no-console: error' --fix, prettier --write src/

fix(datePicker): update snapshots
  src/components/DatePicker/__snapshots__/DatePicker.test.tsx.snap
Due: none

fix(datePicker): update fields
  src/components/DatePicker/utils.ts
Due: eslint --rule 'no-console: error' --fix, prettier --write src/

fix(datePicker): update snapshots
  jest.setup.js
  package.json
  src/components/DatePicker/__snapshots__/DatePicker.test.tsx.snap
Due: prettier --write

Notes added by 'git notes add'
  53394bb7d0315068529b7a172eb6ba76bf00409f
Due: none

Next (#94)
  .gitignore
  jest.setup.js
  package.json
  src/components/DatePicker/__snapshots__/DatePicker.test.tsx.snap
  src/components/DatePicker/utils.ts
Due: eslint --rule 'no-console: error' --fix, prettier --write src/, prettier --write

feat(icon): add ortak-ai icon
  docs/stories/components/icon.stories.mdx
  src/components/Icon/list.ts
  src/icons/OrtakAi.tsx
  src/icons/index.ts
  src/svg-icons/ortak-ai.svg
Due: eslint --rule 'no-console: error' --fix, prettier --write src/

Notes added by 'git notes add'
  ff48685a0df87092e2275a25283ba61f71bf1199
Due: none

feat(icon): add ortak-ai icon (#95)
  docs/stories/components/icon.stories.mdx
  src/components/Icon/list.ts
  src/icons/OrtakAi.tsx
  src/icons/index.ts
  src/svg-icons/ortak-ai.svg
Due: eslint --rule 'no-console: error' --fix, prettier --write src/

Notes added by 'git notes add'
  a999e59d728834e3c745adb5bacc566ede4eba79
Due: none

fix(datePicker): added missing test cases and props updated
  docs/stories/components/datepicker.stories.mdx
  src/components/DatePicker/DatePicker.test.tsx
  src/components/DatePicker/DatePicker.tsx
  src/components/DatePicker/__snapshots__/DatePicker.test.tsx.snap
  src/components/DatePicker/utils.test.ts
Due: eslint --rule 'no-console: error' --fix, prettier --write src/

Notes added by 'git notes add'
  f9ea538a4cf39af3087588bd1991ae9c6f5ab292
Due: none

fix(datePicker): added missing test cases and props updatedd
  docs/stories/components/datepicker.stories.mdx
  src/components/DatePicker/DatePicker.test.tsx
  src/components/DatePicker/DatePicker.tsx
  src/components/DatePicker/__snapshots__/DatePicker.test.tsx.snap
  src/components/DatePicker/utils.test.ts
Due: eslint --rule 'no-console: error' --fix, prettier --write src/

Notes added by 'git notes add'
  1f309e3ea87cde3cf48147185d695af1fb37ac2c
Due: none

fix(datePicker): added close button and RTL support
  src/components/DatePicker/CalendarHeader.tsx
  src/components/DatePicker/DatePicker.test.tsx
  src/components/DatePicker/DatePicker.tsx
  src/components/DatePicker/DatePickerContext.tsx
  src/components/DatePicker/__snapshots__/DatePicker.test.tsx.snap
Due: eslint --rule 'no-console: error' --fix, prettier --write src/

fix(datePicker): added close button and RTL support (#98)
  src/components/DatePicker/CalendarHeader.tsx
  src/components/DatePicker/DatePicker.test.tsx
  src/components/DatePicker/DatePicker.tsx
  src/components/DatePicker/DatePickerContext.tsx
  src/components/DatePicker/__snapshots__/DatePicker.test.tsx.snap
Due: eslint --rule 'no-console: error' --fix, prettier --write src/

Notes added by 'git notes add'
  220a70f440cd350579c5845c81f35477ad47cc61
Due: none

feat(icon): update ortak ai color
  src/icons/OrtakAi.tsx
Due: eslint --rule 'no-console: error' --fix, prettier --write src/

Notes added by 'git notes add'
  203e47f82be8857fb8ff8e8322526dab0c0f64af
Due: none

feat(icon): update ortak ai color (#100)
  src/icons/OrtakAi.tsx
Due: eslint --rule 'no-console: error' --fix, prettier --write src/

Notes added by 'git notes add'
  a10428eaa90e3bca42380a1b304b3a20520eba7b
Due: none

feat(icon): update ortak ai color change props name
  src/icons/OrtakAi.tsx
Due: eslint --rule 'no-console: error' --fix, prettier --write src/

Feature/ortak ai (#101)
  src/icons/OrtakAi.tsx
Due: eslint --rule 'no-console: error' --fix, prettier --write src/

fix(icon): trigger actions
  .gitignore
Due: none

fix(icon): trigger actions (#102)
  .gitignore
Due: none

Notes added by 'git notes add'
  0dcf5b358e56d748966edf1f1a6d578c8e1447ea
Due: none

fix(textArea): add textAlignVertical:top to TextArea
  src/components/TextArea/TextArea.tsx
  src/components/TextArea/__snapshots__/TextArea.test.tsx.snap
Due: eslint --rule 'no-console: error' --fix, prettier --write src/
