Repository Trendyol/baklava-react-native: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --rule 'no-console: error' --fix, prettier --write src/, prettier --write

.lintstagedrc:

{
  "*.{ts,tsx}": [
    "eslint --rule 'no-console: error' --fix",
    "prettier --write src/"
  ],
  "*.{json,md}": [
    "prettier --write"
  ]
}

chore(docs): revert box, icon, text snack
  docs/stories/components/box.stories.mdx
  docs/stories/components/icon.stories.mdx
  docs/stories/components/text.stories.mdx
Due: none

feat(icon): add sound-off icon
  src/components/Icon/list.ts
  src/icons/SoundOff.tsx
  src/icons/index.ts
  src/svg-icons/sound-off.svg
Due: eslint --rule 'no-console: error' --fix, prettier --write src/

chore(ci): update node version to 18
  .github/workflows/publish-docs.yml
  .github/workflows/release.yml
  .github/workflows/verify.yml
Due: none

chore(ci): revert publish docs node version to 16
  .github/workflows/publish-docs.yml
Due: none

fix(icon): fix icon string
  src/icons/SoundOn.tsx
Due: eslint --rule 'no-console: error' --fix, prettier --write src/

feat(icon): fix icon color
  src/icons/Sorting.tsx
Due: eslint --rule 'no-console: error' --fix, prettier --write src/

chore: add restyle patch
  package-lock.json
  package.json
  src/components/Box/Box.tsx
  src/components/Text/Text.stories.tsx
  src/components/Text/Text.tsx
  src/index.ts
  src/test-utils.tsx
  src/theme.ts
Due: eslint --rule 'no-console: error' --fix, prettier --write src/, prettier --write

chore: update podfile.lock
  ios/Podfile.lock
Due: none

fix: update index.ts
  src/index.ts
Due: eslint --rule 'no-console: error' --fix, prettier --write src/

refactor(icon): migrate to restyle
  .storybook/storybook.requires.js
  package-lock.json
  package.json
  src/components/Icon/Icon.stories.tsx
  src/components/Icon/Icon.test.tsx
  src/components/Icon/Icon.tsx
  src/components/Icon/__snapshots__/Icon.test.tsx.snap
  src/components/Icon/list.ts
  src/components/Icon/types.ts
  src/components/Icon/utils.test.ts
  src/components/Icon/utils.ts
  src/index.ts
  src/theme.ts
Due: eslint --rule 'no-console: error' --fix, prettier --write src/, prettier --write

refactor(button): migrate to restyle
  .storybook/storybook.requires.js
  src/components/Button/Button.stories.tsx
  src/components/Button/Button.test.tsx
  src/components/Button/Button.tsx
  src/components/Button/__snapshots__/Button.test.tsx.snap
  src/components/Button/hooks.test.ts
  src/components/Button/hooks.ts
  src/components/Button/types.ts
  src/components/Button/utils.test.ts
  src/components/Button/utils.ts
  src/components/Text/Text.tsx
  src/index.ts
  src/theme.ts
Due: eslint --rule 'no-console: error' --fix, prettier --write src/

refactor(button): add more type safety
  src/components/Button/Button.tsx
Due: eslint --rule 'no-console: error' --fix, prettier --write src/

refactor(button): memoize icon and label
  src/components/Button/Button.tsx
Due: eslint --rule 'no-console: error' --fix, prettier --write src/

refactor(input): migrate to restyle
  .storybook/storybook.requires.js
  ios/Podfile.lock
  src/components/Input/Input.stories.tsx
  src/components/Input/Input.test.tsx
  src/components/Input/Input.tsx
  src/components/Input/InputHelpText.test.tsx
  src/components/Input/InputHelpText.tsx
  src/components/Input/InputIcon.test.tsx
  src/components/Input/InputIcon.tsx
  src/components/Input/InputLabel.test.tsx
  src/components/Input/InputLabel.tsx
  src/components/Input/__snapshots__/Input.test.tsx.snap
  src/components/Input/__snapshots__/InputHelpText.test.tsx.snap
  src/components/Input/__snapshots__/InputIcon.test.tsx.snap
  src/components/Input/__snapshots__/InputLabel.test.tsx.snap
  src/components/Input/hooks.test.ts
  src/components/Input/hooks.ts
  src/components/Input/types.ts
  src/components/Input/utils.test.ts
  src/components/Input/utils.ts
  src/theme.ts
Due: eslint --rule 'no-console: error' --fix, prettier --write src/

refactor(input): typescripts
  package-lock.json
  package.json
  src/components/Input/Input.tsx
  src/theme.ts
Due: eslint --rule 'no-console: error' --fix, prettier --write src/, prettier --write

refactor: export input
  src/index.ts
Due: eslint --rule 'no-console: error' --fix, prettier --write src/

chore(ci): update workflows
  .github/workflows/pull-request.yml
  .github/workflows/verify-and-release.yml
Due: none

feat(theme): add negative spacing
  src/theme.ts
Due: eslint --rule 'no-console: error' --fix, prettier --write src/

feat(icon): add rest prop to icon
  src/components/Icon/Icon.tsx
  src/components/Text/__snapshots__/Text.test.tsx.snap
  src/theme.ts
Due: eslint --rule 'no-console: error' --fix, prettier --write src/

fix(icon): fix icon type
  src/components/Icon/Icon.tsx
Due: eslint --rule 'no-console: error' --fix, prettier --write src/

feat(text): add testId trick
  src/components/Button/__snapshots__/Button.test.tsx.snap
  src/components/Input/__snapshots__/Input.test.tsx.snap
  src/components/Input/__snapshots__/InputHelpText.test.tsx.snap
  src/components/Input/__snapshots__/InputLabel.test.tsx.snap
  src/components/Text/Text.tsx
  src/components/Text/__snapshots__/Text.test.tsx.snap
Due: eslint --rule 'no-console: error' --fix, prettier --write src/

fix(input): dynamic label position
  src/components/Input/__snapshots__/Input.test.tsx.snap
  src/components/Input/hooks.test.ts
  src/components/Input/hooks.ts
Due: eslint --rule 'no-console: error' --fix, prettier --write src/

refactor(docs): refactor component docs
  docs/stories/2_getting-started.stories.mdx
  docs/stories/assets/button/ButtonSizes.png
  docs/stories/assets/button/ButtonTypes.png
  docs/stories/assets/button/ButtonVariants.png
  docs/stories/assets/button/ContainedButtons.png
  docs/stories/assets/button/DisabledButtons.png
  docs/stories/assets/button/IconButtons.png
  docs/stories/assets/button/IconOnlyButtons.png
  docs/stories/assets/button/OutlinedButtons.png
  docs/stories/assets/button/PressedButtons.png
  docs/stories/assets/button/PrimaryButtons.png
  docs/stories/assets/button/SecondaryButtons.png
  docs/stories/assets/button/TertiaryButtons.png
  docs/stories/assets/button/TextButtons.png
  docs/stories/assets/icon/IconSizes.png
  docs/stories/assets/input/InputCases.png
  docs/stories/assets/input/InputSizes.png
  docs/stories/components/box.stories.mdx
  docs/stories/components/button.stories.mdx
  docs/stories/components/icon.stories.mdx
  docs/stories/components/input.stories.mdx
  docs/stories/design-tokens/sizes.stories.mdx
Due: none

feat: migrate to restyle BREAKING CHANGE: migrate to restyle
  README.md
Due: prettier --write

fix(button): label vertical cutting off
  src/components/Button/__snapshots__/Button.test.tsx.snap
  src/theme.ts
Due: eslint --rule 'no-console: error' --fix, prettier --write src/

Bug bounty test, please ignore. spntcp
  package.json
Due: prettier --write

chore(docs): update spacing object
  docs/stories/design-tokens/sizes.stories.mdx
Due: none

chore(icon): add title prop
  src/components/Icon/Icon.tsx
  src/components/Icon/__snapshots__/Icon.test.tsx.snap
  src/components/Input/__snapshots__/Input.test.tsx.snap
  src/components/Input/__snapshots__/InputIcon.test.tsx.snap
Due: eslint --rule 'no-console: error' --fix, prettier --write src/

chore(ci): update podfile.lock
  ios/Podfile.lock
Due: none

chore(text): update tests
  src/components/Text/Text.test.tsx
  src/components/Text/__snapshots__/Text.test.tsx.snap
Due: eslint --rule 'no-console: error' --fix, prettier --write src/

feat: add alert component
  .storybook/storybook.requires.js
  src/components/Alert/Alert.stories.tsx
  src/components/Alert/Alert.test.tsx
  src/components/Alert/Alert.tsx
  src/components/Alert/AlertIcon.test.tsx
  src/components/Alert/AlertIcon.tsx
  src/components/Alert/__snapshots__/Alert.test.tsx.snap
  src/components/Alert/__snapshots__/AlertIcon.test.tsx.snap
  src/theme.ts
  src/utils/dimentions.ts
Due: eslint --rule 'no-console: error' --fix, prettier --write src/

chore(alert): add doc page
  docs/stories/assets/alert/Alert.png
  docs/stories/assets/alert/AlertVariants.png
  docs/stories/components/alert.stories.mdx
Due: none

fix(alert): add missing alert export
  src/index.ts
Due: eslint --rule 'no-console: error' --fix, prettier --write src/

chore: add example app
  .eslintrc.js
  example/.gitignore
  example/README.md
  example/app.json
  example/app/(tabs)/_layout.tsx
  example/app/(tabs)/about.tsx
  example/app/(tabs)/list/_layout.tsx
  example/app/(tabs)/list/alert.tsx
  example/app/(tabs)/list/box.tsx
  example/app/(tabs)/list/button.tsx
  example/app/(tabs)/list/icon.tsx
  example/app/(tabs)/list/index.tsx
  example/app/(tabs)/list/input.tsx
  example/app/(tabs)/list/text.tsx
  example/app/_layout.tsx
  example/app/index.tsx
  example/assets/baklava.png
  example/assets/baklava@2x.png
  example/assets/baklava@3x.png
  example/assets/fonts/Inter-Bold.ttf
  example/assets/fonts/Inter-Light.ttf
  example/assets/fonts/Inter-Medium.ttf
  example/assets/fonts/Inter-Regular.ttf
  example/assets/fonts/Inter-SemiBold.ttf
  example/babel.config.js
  example/index.ts
  example/package-lock.json
  example/package.json
  example/tsconfig.json
  src/components/Input/Input.stories.tsx
Due: eslint --rule 'no-console: error' --fix, prettier --write src/, prettier --write

Revert "chore: add example app"
  .eslintrc.js
  example/.gitignore
  example/README.md
  example/app.json
  example/app/(tabs)/_layout.tsx
  example/app/(tabs)/about.tsx
  example/app/(tabs)/list/_layout.tsx
  example/app/(tabs)/list/alert.tsx
  example/app/(tabs)/list/box.tsx
  example/app/(tabs)/list/button.tsx
  example/app/(tabs)/list/icon.tsx
  example/app/(tabs)/list/index.tsx
  example/app/(tabs)/list/input.tsx
  example/app/(tabs)/list/text.tsx
  example/app/_layout.tsx
  example/app/index.tsx
  example/assets/baklava.png
  example/assets/baklava@2x.png
  example/assets/baklava@3x.png
  example/assets/fonts/Inter-Bold.ttf
  example/assets/fonts/Inter-Light.ttf
  example/assets/fonts/Inter-Medium.ttf
  example/assets/fonts/Inter-Regular.ttf
  example/assets/fonts/Inter-SemiBold.ttf
  example/babel.config.js
  example/index.ts
  example/package-lock.json
  example/package.json
  example/tsconfig.json
  src/components/Input/Input.stories.tsx
Due: eslint --rule 'no-console: error' --fix, prettier --write src/, prettier --write

fix(input): label position
  src/components/Input/__snapshots__/Input.test.tsx.snap
  src/components/Input/hooks.test.ts
  src/components/Input/hooks.ts
Due: eslint --rule 'no-console: error' --fix, prettier --write src/

chore: add example app
  .eslintignore
  example/.gitignore
  example/App.js
  example/README.md
  example/app.json
  example/assets/adaptive-icon.png
  example/assets/baklava.png
  example/assets/baklava@2x.png
  example/assets/baklava@3x.png
  example/assets/favicon.png
  example/assets/icon.png
  example/assets/splash.png
  example/babel.config.js
  example/package.json
  example/src/(tabs)/about.js
  example/src/(tabs)/index.js
  example/src/(tabs)/list/alert.js
  example/src/(tabs)/list/box.js
  example/src/(tabs)/list/button.js
  example/src/(tabs)/list/icon.js
  example/src/(tabs)/list/index.js
  example/src/(tabs)/list/input.js
  example/src/(tabs)/list/list.js
  example/src/(tabs)/list/text.js
  example/src/index.js
Due: prettier --write

chore(example): update button example
  .gitignore
  example/src/(tabs)/list/button.js
  example/src/(tabs)/list/list.js
Due: none
