Repository Trendyol/baklava-react-native: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --rule 'no-console: error' --fix, prettier --write src/, prettier --write

SCM-3254 feat(progressIndicator): added Progress Indicator component
  .storybook/preview.tsx
  .storybook/storybook.requires.js
  docs/stories/assets/progressindicator/ProgressIndicatorCases.png
  docs/stories/assets/progressindicator/ProgressIndicatorHelperText.png
  docs/stories/assets/progressindicator/ProgressIndicatorIconAndLabel.png
  docs/stories/assets/progressindicator/ProgressIndicatorSizes.png
  docs/stories/assets/progressindicator/ProgressIndicatorVariants.png
  docs/stories/components/progressindicator.stories.mdx
  src/components/ProgressIndicator/ProgressIndicator.stories.tsx
  src/components/ProgressIndicator/ProgressIndicator.test.tsx
  src/components/ProgressIndicator/ProgressIndicator.tsx
  src/components/ProgressIndicator/__snapshots__/ProgressIndicator.test.tsx.snap
  src/index.ts
  src/theme.ts
Due: eslint --rule 'no-console: error' --fix, prettier --write src/

SCM-3248 feat(accordion): added Accordion component
  .storybook/storybook.requires.js
  docs/FIGMA_TOKEN_COMPARISON.md
  docs/PROJECT_ANALYSIS.md
  docs/TOKEN_MIGRATION_IMPACT.md
  docs/stories/assets/accordion/AccordionAnimated.png
  docs/stories/assets/accordion/AccordionList.png
  docs/stories/assets/accordion/AccordionVariants.png
  docs/stories/components/accordion.stories.mdx
  package.json
  src/components/Accordion/Accordion.stories.tsx
  src/components/Accordion/Accordion.test.tsx
  src/components/Accordion/Accordion.tsx
  src/components/Accordion/AccordionGroup.test.tsx
  src/components/Accordion/AccordionGroup.tsx
  src/components/Accordion/__snapshots__/Accordion.test.tsx.snap
  src/components/Accordion/__snapshots__/AccordionGroup.test.tsx.snap
  src/index.ts
Due: eslint --rule 'no-console: error' --fix, prettier --write src/, prettier --write

SCM-3249 feat(actionBar): added Action Bar component
  .storybook/preview.tsx
  .storybook/storybook.requires.js
  docs/stories/assets/actionbar/ActionBarInlineButtons.png
  docs/stories/assets/actionbar/ActionBarMixed.png
  docs/stories/assets/actionbar/ActionBarSingleButton.png
  docs/stories/assets/actionbar/ActionBarStackedButtons.png
  docs/stories/assets/actionbar/ActionBarWithCheckbox.png
  docs/stories/assets/actionbar/ActionBarWithIcon.png
  docs/stories/components/actionbar.stories.mdx
  src/components/ActionBar/ActionBar.stories.tsx
  src/components/ActionBar/ActionBar.test.tsx
  src/components/ActionBar/ActionBar.tsx
  src/components/ActionBar/__snapshots__/ActionBar.test.tsx.snap
  src/index.ts
Due: eslint --rule 'no-console: error' --fix, prettier --write src/

SCM-3255 Feat/search input
  .storybook/preview.tsx
  .storybook/storybook.requires.js
  commitlint.config.js
  docs/stories/assets/searchinput/SearchInputBasic.png
  docs/stories/assets/searchinput/SearchInputSizes.png
  docs/stories/assets/searchinput/SearchInputStates.png
  docs/stories/components/searchinput.stories.mdx
  src/components/SearchInput/SearchInput.stories.tsx
  src/components/SearchInput/SearchInput.test.tsx
  src/components/SearchInput/SearchInput.tsx
  src/index.ts
Due: eslint --rule 'no-console: error' --fix, prettier --write src/

SCM-3253 feat(stepper): stepper
  .storybook/preview.tsx
  .storybook/storybook.requires.js
  docs/stories/assets/stepper/StepperBasic.png
  docs/stories/assets/stepper/StepperStates.png
  docs/stories/assets/stepper/StepperStepCounts.png
  docs/stories/components/stepper.stories.mdx
  src/components/Stepper/Stepper.stories.tsx
  src/components/Stepper/Stepper.test.tsx
  src/components/Stepper/Stepper.tsx
  src/components/Stepper/__snapshots__/Stepper.test.tsx.snap
  src/components/Stepper/types.ts
  src/components/Stepper/utils.test.ts
  src/components/Stepper/utils.ts
  src/index.ts
  src/theme.ts
Due: eslint --rule 'no-console: error' --fix, prettier --write src/

SCM-3256 feat(upload): added Upload component
  .storybook/preview.tsx
  .storybook/storybook.requires.js
  docs/stories/assets/upload/Disabled.png
  docs/stories/assets/upload/UploadErrorValidation.png
  docs/stories/assets/upload/UploadMultipleFiles.png
  docs/stories/assets/upload/Uploaded.png
  docs/stories/components/upload.stories.mdx
  src/components/Upload/Upload.stories.tsx
  src/components/Upload/Upload.test.tsx
  src/components/Upload/Upload.tsx
  src/components/Upload/UploadItem.test.tsx
  src/components/Upload/UploadItem.tsx
  src/components/Upload/__snapshots__/Upload.test.tsx.snap
  src/components/Upload/__snapshots__/UploadItem.test.tsx.snap
  src/components/Upload/types.ts
  src/components/Upload/utils.test.ts
  src/components/Upload/utils.ts
  src/index.ts
Due: eslint --rule 'no-console: error' --fix, prettier --write src/

SCM-3253 | feat(stepper): rtl support
  src/components/Stepper/Stepper.test.tsx
  src/components/Stepper/Stepper.tsx
  src/components/Stepper/__snapshots__/Stepper.test.tsx.snap
Due: eslint --rule 'no-console: error' --fix, prettier --write src/

SCM-1 chore(react-native): upgrade 0.74.5 to 0.77.3
  Gemfile
  Gemfile.lock
  android/app/build.gradle
  android/app/src/main/java/com/baklava/MainApplication.kt
  android/build.gradle
  android/gradle.properties
  android/gradle/wrapper/gradle-wrapper.properties
  android/settings.gradle
  ios/Baklava.xcodeproj/project.pbxproj
  ios/Baklava/AppDelegate.h
  ios/Baklava/AppDelegate.mm
  ios/Baklava/AppDelegate.swift
  ios/Baklava/main.m
  ios/Podfile
  ios/Podfile.lock
  package-lock.json
  package.json
  src/components/Input/__snapshots__/InputLabel.test.tsx.snap
  src/components/Switch/__snapshots__/Switch.test.tsx.snap
  src/components/TextArea/__snapshots__/TextAreaLabel.test.tsx.snap
Due: prettier --write

SCM-3252 feat(pagination): added Pagination component
  .rnstorybook/preview.tsx
  docs/stories/assets/pagination/JumperMiddlePage.png
  docs/stories/assets/pagination/PaginationBasic.png
  docs/stories/assets/pagination/PaginationJumper.png
  docs/stories/assets/pagination/PaginationMiddlePage.png
  docs/stories/components/pagination.stories.mdx
  src/components/Icon/list.ts
  src/components/Pagination/Pagination.stories.tsx
  src/components/Pagination/Pagination.test.tsx
  src/components/Pagination/Pagination.tsx
  src/components/Pagination/__snapshots__/Pagination.test.tsx.snap
  src/components/Pagination/utils.test.ts
  src/components/Pagination/utils.ts
  src/icons/DoubleArrowLeft.tsx
  src/icons/DoubleArrowRight.tsx
  src/icons/index.ts
  src/index.ts
  src/svg-icons/double-arrow-left.svg
  src/svg-icons/double-arrow-right.svg
  src/theme.ts
Due: eslint --rule 'no-console: error' --fix, prettier --write src/

chore: omit internal notes and generated files from public sync
  .rnstorybook/storybook.requires.ts
  docs/FIGMA_TOKEN_COMPARISON.md
  docs/PROJECT_ANALYSIS.md
  docs/TOKEN_MIGRATION_IMPACT.md
  ios/Podfile.lock
Due: eslint --rule 'no-console: error' --fix, prettier --write src/, prettier --write

feat(icon): added AI icon
  src/components/Icon/list.ts
  src/icons/Ai2.tsx
  src/icons/index.ts
  src/svg-icons/ai2.svg
Due: eslint --rule 'no-console: error' --fix, prettier --write src/

fix: generate Storybook metadata before install build
  .gitignore
  package.json
Due: prettier --write

fix(accordion): avoid layout jump during opening animation
  src/components/Accordion/Accordion.test.tsx
  src/components/Accordion/Accordion.tsx
Due: eslint --rule 'no-console: error' --fix, prettier --write src/

chore(ios): update pods for React Native 0.77.3
  ios/Podfile.lock
Due: none

fix: resolve Storybook install and Accordion animation issues (#143)
  .gitignore
  ios/Podfile.lock
  package.json
  src/components/Accordion/Accordion.test.tsx
  src/components/Accordion/Accordion.tsx
Due: eslint --rule 'no-console: error' --fix, prettier --write src/, prettier --write

feat(icon): added support icon
  src/components/Icon/list.ts
  src/icons/Support2.tsx
  src/icons/index.ts
  src/svg-icons/support2.svg
Due: eslint --rule 'no-console: error' --fix, prettier --write src/

Notes added by 'git notes add'
  82eb630a6975d203c1524cfd5f1ea9fc96dd4660
Due: none

Notes added by 'git notes add'
  134a94ebeca0d207585b417bc4172bf19ed3c69d
Due: none

Update scorecard.yml
  .github/workflows/scorecard.yml
Due: none

Update scorecard.yml (#145)
  .github/workflows/scorecard.yml
Due: none

feat(text): added truncate prop
  docs/stories/components/box.mdx
  docs/stories/components/text.mdx
  src/components/Box/Box.stories.tsx
  src/components/Box/Box.test.tsx
  src/components/Box/Box.tsx
  src/components/Text/Text.stories.tsx
  src/components/Text/Text.test.tsx
  src/components/Text/Text.tsx
Due: eslint --rule 'no-console: error' --fix, prettier --write src/

feat(text): added truncate prop (#142)
  docs/stories/components/box.mdx
  docs/stories/components/text.mdx
  src/components/Box/Box.stories.tsx
  src/components/Box/Box.test.tsx
  src/components/Box/Box.tsx
  src/components/Text/Text.stories.tsx
  src/components/Text/Text.test.tsx
  src/components/Text/Text.tsx
Due: eslint --rule 'no-console: error' --fix, prettier --write src/

fix(text): format Box.stories with Prettier
  src/components/Box/Box.stories.tsx
Due: eslint --rule 'no-console: error' --fix, prettier --write src/

fix(text): format Box.stories with Prettier (#146)
  src/components/Box/Box.stories.tsx
Due: eslint --rule 'no-console: error' --fix, prettier --write src/

Notes added by 'git notes add'
  92b3da22ad97bcb649bfb36c5d963cc16cf69d58
Due: none

feat(icon): added new icons(ortak gradient & ortak ai)
  src/components/Icon/list.ts
  src/icons/AiOrtak.tsx
  src/icons/OrtakGrad.tsx
  src/icons/index.ts
  src/svg-icons/ai-ortak.svg
  src/svg-icons/ortak-grad.svg
Due: eslint --rule 'no-console: error' --fix, prettier --write src/

feat(icon): added new icons(ortak gradient & ortak ai) (#139)
  src/components/Icon/list.ts
  src/icons/AiOrtak.tsx
  src/icons/OrtakGrad.tsx
  src/icons/index.ts
  src/svg-icons/ai-ortak.svg
  src/svg-icons/ortak-grad.svg
Due: eslint --rule 'no-console: error' --fix, prettier --write src/

fix(icon): format OrtakGrad with Prettier
  src/icons/OrtakGrad.tsx
Due: eslint --rule 'no-console: error' --fix, prettier --write src/

Notes added by 'git notes add'
  459efdbc4893d77aa02cd4ea2dc81717c0f96e2a
Due: none

Path conditions:
  eslint --rule 'no-console: error' --fix: any of: *.{ts,tsx}
  prettier --write src/: any of: *.{ts,tsx}
  prettier --write: any of: *.{json,md}
