Repository Trendyol/baklava-react-native: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --rule 'no-console: error' --fix, prettier --write src/, prettier --write

fix(switch): adjust stories to new props
  src/components/Switch/Switch.stories.tsx
Due: eslint --rule 'no-console: error' --fix, prettier --write src/

feat: add textlink component
  .storybook/storybook.requires.js
  docs/stories/assets/textlink/TextLinkBody.png
  docs/stories/assets/textlink/TextLinkCaption.png
  docs/stories/assets/textlink/TextLinkHeading.png
  docs/stories/assets/textlink/TextLinkSubtitle1.png
  docs/stories/assets/textlink/TextLinkSubtitle2.png
  docs/stories/assets/textlink/TextLinkSubtitle3.png
  docs/stories/assets/textlink/TextLinkSubtitle4.png
  docs/stories/components/textlink.stories.mdx
  src/components/TextLink/TextLink.stories.tsx
  src/components/TextLink/TextLink.test.tsx
  src/components/TextLink/TextLink.tsx
  src/components/TextLink/__snapshots__/TextLink.test.tsx.snap
Due: eslint --rule 'no-console: error' --fix, prettier --write src/

Notes added by 'git notes add'
  6314bb80e43ad22b5ad780fae7073c2296cfde09
Due: none

chore(docs): update textlink assets
  docs/stories/assets/textlink/TextLinkBody.png
  docs/stories/assets/textlink/TextLinkCaption.png
  docs/stories/assets/textlink/TextLinkHeading.png
  docs/stories/assets/textlink/TextLinkSubtitle1.png
  docs/stories/assets/textlink/TextLinkSubtitle2.png
  docs/stories/assets/textlink/TextLinkSubtitle3.png
  docs/stories/assets/textlink/TextLinkSubtitle4.png
Due: none

fix(button): fix button colors
  src/components/Button/Button.test.tsx
  src/components/Button/utils.test.ts
  src/components/Button/utils.ts
  src/theme.ts
Due: eslint --rule 'no-console: error' --fix, prettier --write src/

Notes added by 'git notes add'
  1eb22be4e40bc200d7b601557e15a11d2de78a69
Due: none

Update Switch.tsx
  src/components/Switch/Switch.tsx
Due: eslint --rule 'no-console: error' --fix, prettier --write src/

fix(switch): change screenshots for docs, adjust tests to new color
  docs/stories/assets/switch/switch.png
  docs/stories/assets/switch/switchCustomized.png
  docs/stories/assets/switch/switchDefault.png
  docs/stories/assets/switch/switchDisabled.png
  docs/stories/assets/switch/switchLabel.png
  docs/stories/components/switch.stories.mdx
  src/components/Switch/Switch.test.tsx
Due: eslint --rule 'no-console: error' --fix, prettier --write src/

fix(textLink): add TextLink to index
  src/index.ts
Due: eslint --rule 'no-console: error' --fix, prettier --write src/

Notes added by 'git notes add'
  20a46701d28efb202618bd8c0299d6112aac3e04
Due: none

chore(switch): update snapshots
  src/components/Switch/__snapshots__/Switch.test.tsx.snap
Due: none

Notes added by 'git notes add'
  40cc80383847264e4617c1a1a2bf481393c5ed4a
Due: none

chore(readme): update readme
  README.md
Due: prettier --write

fix(badge): changed badge icon size
  src/components/Badge/Badge.test.tsx
  src/components/Badge/Badge.tsx
  src/components/Badge/__snapshots__/Badge.test.tsx.snap
Due: eslint --rule 'no-console: error' --fix, prettier --write src/

Notes added by 'git notes add'
  d7ed9f748f03cd3d98a33c79f4b630f1ad7dc184
Due: none

fix(badge): changed badge fontFamily
  src/components/Badge/Badge.tsx
  src/components/Badge/__snapshots__/Badge.test.tsx.snap
Due: eslint --rule 'no-console: error' --fix, prettier --write src/

Notes added by 'git notes add'
  e6b5203ba152c75a6318d1975aef8f8db303a247
Due: none

fix(switch): fixed switch's state
  docs/stories/assets/switch/CustomSwitch.png
  docs/stories/assets/switch/DisabledSwitch.png
  docs/stories/assets/switch/Switch.png
  docs/stories/assets/switch/SwitchState.png
  docs/stories/assets/switch/SwitchWithLabel.png
  docs/stories/assets/switch/switchCustomized.png
  docs/stories/assets/switch/switchDefault.png
  docs/stories/assets/switch/switchDisabled.png
  docs/stories/assets/switch/switchLabel.png
  docs/stories/components/switch.stories.mdx
  src/components/Switch/Switch.stories.tsx
  src/components/Switch/Switch.test.tsx
  src/components/Switch/Switch.tsx
Due: eslint --rule 'no-console: error' --fix, prettier --write src/

Notes added by 'git notes add'
  245a893a9d13fd0497e79b67a54d03b3b2704c33
Due: none

feat(input): add leadingText and trailingText prop
  .gitignore
  docs/stories/components/input.stories.mdx
  ios/Podfile.lock
  src/components/Input/Input.stories.tsx
  src/components/Input/Input.test.tsx
  src/components/Input/Input.tsx
  src/components/Input/__snapshots__/Input.test.tsx.snap
Due: eslint --rule 'no-console: error' --fix, prettier --write src/

Notes added by 'git notes add'
  b9717958118906f26d5ee048940fd9398d899263
Due: none

fix(input): leadingText disabled with label and positions
  src/components/Input/Input.tsx
  src/components/Input/__snapshots__/Input.test.tsx.snap
Due: eslint --rule 'no-console: error' --fix, prettier --write src/

Notes added by 'git notes add'
  6a3dba8c46637fb8646c6822b22474044ca38865
Due: none

feat(button): added transparent icon button
  ios/Baklava.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
  ios/Podfile.lock
  src/components/Button/Button.test.tsx
  src/components/Button/Button.tsx
  src/components/Button/__snapshots__/Button.test.tsx.snap
  src/components/Button/utils.ts
  src/theme.ts
Due: eslint --rule 'no-console: error' --fix, prettier --write src/

Notes added by 'git notes add'
  4723a708dc2cfc9b838558611e88cbf2a539d471
Due: none

feat(button): deleted button alignSelf
  src/components/Button/Button.tsx
  src/components/Button/__snapshots__/Button.test.tsx.snap
Due: eslint --rule 'no-console: error' --fix, prettier --write src/

Notes added by 'git notes add'
  56bf8b05327fcf3bc7c914586f716b32098bc6e9
Due: none

fix(badge): add theme support for color and backgroundColor props
  src/components/Badge/Badge.stories.tsx
  src/components/Badge/Badge.test.tsx
  src/components/Badge/Badge.tsx
  src/components/Badge/__snapshots__/Badge.test.tsx.snap
Due: eslint --rule 'no-console: error' --fix, prettier --write src/

fix(badge): typescript type errors
  src/components/Badge/Badge.stories.tsx
  src/components/Badge/Badge.test.tsx
  src/components/Badge/__snapshots__/Badge.test.tsx.snap
Due: eslint --rule 'no-console: error' --fix, prettier --write src/

Notes added by 'git notes add'
  8dd413da96d3902792150312ef0eea098d9a8ed5
Due: none

feat(spinner): add spinner component
  .storybook/storybook.requires.js
  docs/stories/assets/spinner/SpinnerColors.png
  docs/stories/assets/spinner/SpinnerSizes.png
  docs/stories/components/spinner.stories.mdx
  src/components/Spinner/Spinner.stories.tsx
  src/components/Spinner/Spinner.test.tsx
  src/components/Spinner/Spinner.tsx
  src/components/Spinner/__snapshots__/Spinner.test.tsx.snap
  src/index.ts
  src/test-utils.tsx
  src/theme.ts
Due: eslint --rule 'no-console: error' --fix, prettier --write src/

fix(utils): bypass customRender type
  src/test-utils.tsx
Due: eslint --rule 'no-console: error' --fix, prettier --write src/

Notes added by 'git notes add'
  d6945539f37621da3b53c9451e52e4596484eb8a
Due: none

Notes added by 'git notes add'
  7be3f2bc3bc41594ae1327ba317411646ba97dd6
Due: none

feat(color): update colors
  docs/stories/design-tokens/ColorBox/index.js
  docs/stories/design-tokens/colors.stories.mdx
  src/theme.ts
Due: eslint --rule 'no-console: error' --fix, prettier --write src/

Notes added by 'git notes add'
  fde8079671af7d8ab9de62603bc5f26d80c53488
Due: none

feat(image): added image component
  .storybook/preview.js
  .storybook/storybook.requires.js
  assets/trendyol.png
  docs/stories/assets/image/ImageCases.png
  docs/stories/components/image.stories.mdx
  src/components/Image/Image.stories.tsx
  src/components/Image/Image.test.tsx
  src/components/Image/Image.tsx
  src/components/Image/__snapshots__/Image.test.tsx.snap
Due: eslint --rule 'no-console: error' --fix, prettier --write src/

Notes added by 'git notes add'
  eeceeb9fc6050216b493d525ad48f7d89c116adb
Due: none

chore(docs): update button and icon's docs
  docs/stories/components/button.stories.mdx
  docs/stories/components/icon.stories.mdx
Due: none

fix(switch): fix switch state
  src/components/Switch/Switch.test.tsx
  src/components/Switch/Switch.tsx
Due: eslint --rule 'no-console: error' --fix, prettier --write src/

Path conditions:
  eslint --rule 'no-console: error' --fix: any of: *.{ts,tsx}
  prettier --write src/: any of: *.{ts,tsx}
  prettier --write: any of: *.{json,md}
